html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 12px;
}
.code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #eeeeee;
    font-size: 12px;
}
.white-space-nowrap {
    white-space: nowrap;
}
.cursor-pointer {
    cursor: pointer;
}
/* a start screen for IE and hiding init */
#start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ss-msg {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.link-btn {
    color: #555555;
}
.h-splitter {
    width: 5px;
    height: 100%;
    background-color: #e9e9e9;
}
.h-splitter-menu {
    width: 1px;
    height: 64px;
    background-color: #dadbdc;
}
.v-splitter {
    width: 100%;
    height: 5px;
    background-color: #e9e9e9;
}
#app_info {
    position: absolute;
    top: 2px;
    right: 10px;
    color: #777777;
    z-index: 98;
}
#app_info a {
    color: #777777;
}
#app_info a:hover {
    color: black;
}
#mui_filelist {
    overflow-y: hidden;
    width: 250px;
}
#mui_filelist_toolbar {
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    border-bottom: 1px solid #cccccc;
}
#mui_filelist_list {
    height: calc(100% - 32px);
    overflow-y: auto;
}
#mui_filelist_pager {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 1px 0;
}
#mui_texteditor {
    width: calc(100% - 250px); 
    height: 100%;
}
#mui_dtdlist {
    overflow-y: auto;
    width: 250px;
}
#mui_annlist {
    padding-left: 5px;
    overflow-y: auto; 
    width: calc(100% - 250px);
}
#mui_stat_summary {
    width: 250px;
    border-right: 1px solid #e9e9e9;
}
#mui_stat_details {
    width: calc(100% - 250px);
}
#mui_iaa_summary {
    width: 240px;
    border-right: 1px solid #e9e9e9;
    overflow-y: auto;
}
#mui_iaa_anns {
    width: 300px;
    padding-right: 5px;
    border-right: 1px solid #e9e9e9;
    overflow-y: auto;
}
#mui_iaa_cohenk_summary {
    /* width: 540px; */
    padding-right: 5px;
    /* border-right: 1px solid #e9e9e9; */
    overflow-y: auto;
}
#mui_iaa_tags {
    width: calc(100% - 550px);
    /* flex-grow: 1; */
    padding-right: 5px;
    /* border-right: 1px solid #e9e9e9; */
    overflow-y: auto;
}
#mui_ruleset_result {
    
}
#iaa_display_tab {
    margin-top: 5px;
}

.stat-doc-sum-tags-header {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
    padding: 0.2em 0;
    margin: 0 0 0.2em 0;
}
.stat-doc-sum-tags-body {
    width: 100%;
    height: 100%;
    max-height: 400px;
    overflow-y: auto;
}
.stat-tag-count {
    white-space: nowrap;
}
.stat-item-row {

}
.stat-item-row:hover {
    background-color: whitesmoke;
}
.stat-item-label {
    width: 120px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.stat-item-label-lg {
    width: 180px !important;
    max-width: 180px !important;
}
.stat-item-value {
    width: 120px;
    max-width: 120px;
    text-align: right;
}
.stat-item-value-sm {
    width: 70px;
    max-width: 70px;
    text-align: right;
}
#stat_doc_tag_detailbox {
    z-index: 99;
    position: absolute;
    top: 0px;
    background: white;
    box-shadow: #eaeaea 5px 5px 5px;
}
.stat-doc-sum-tags-box {
    border: 1px solid #efefef; 
    padding: 0 1em 0 1em;
}
/* for slider */
input[type=range] {
    height: 24px;
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
    background: transparent;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #E6E6E6;
    border-radius: 4px;
    border: 1px solid #A6A6A6;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 16px;
    width: 16px;
    border-radius: 7px;
    background: #EBEBEB;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #E6E6E6;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #E6E6E6;
    border-radius: 4px;
    border: 1px solid #A6A6A6;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 16px;
    width: 16px;
    border-radius: 7px;
    background: #EBEBEB;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #E6E6E6;
    border: 1px solid #A6A6A6;
    border-radius: 8px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #E6E6E6;
    border: 1px solid #A6A6A6;
    border-radius: 8px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 16px;
    width: 16px;
    border-radius: 7px;
    background: #EBEBEB;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #E6E6E6;
}

input[type=range]:focus::-ms-fill-upper {
    background: #E6E6E6;
}

#app_hotpot {
    margin-top: 2px;
}
.dropzone {
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1em;
    border: 1px dotted rgb(17, 61, 110);
    border-radius: 4px;
}
.dropzone:hover {
    border-color: rgb(0, 89, 255);
    font-weight: bold;
}
.disabled-zone {
    opacity: .5;
}
.zone-text {
    margin-top: 8px; 
    line-height: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#dropzone_dtd {
    /* width: 190px; */
    /* width: 245px; */
    width: 180px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1em;
    border: 1px dotted rgb(17, 61, 110);
    border-radius: 4px;
}
#dropzone_ann {
    width: 180px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1em;
    border: 1px dotted rgb(17, 61, 110);
    border-radius: 4px;
}
#dropzone_txt {
    width: 176px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1em;
    border: 1px dotted rgb(17, 61, 110);
    border-radius: 4px;
}
.dropzone-menu-box {
    width: 166px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1em;
    border: 1px dotted rgb(17, 61, 110);
    border-radius: 4px;
}
.pos-corner-br {
    position: absolute; 
    right: 0; 
    bottom: 0;
}
.tag-list-row {
    background-color: white;
}
.tag-list-row-actived {
    background-color: #fffee8;
    border-bottom: 1px solid #999999;
    border-left: 5px solid #d3d3d3;
    padding-left: 5px !important;
}
.badge-shortcut {
    padding: 1px 1px 1px 2px;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: #EAEAEA;
    border: 1px solid #EFEFEF;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.mark-hint {
    cursor: pointer;
    border: 2px dotted #999999;
    border-left: 0;
    border-right: 0;
    position: relative;
    /* display: inline-block; */
}
.mark-hint:hover {
    font-weight: bold;
    border-color: #333333;
}
.mark-hint-info {
    margin: 0 5px 0 0;
    padding: 0px 4px;
    color: white;
}
.mark-hint-text {

}
.mark-hint .mark-hint-tooltip {
    visibility: hidden;
    min-width: 100px;
    width: auto;
    background-color: #cccccc;
    color: black;
    text-align: center;
    font-size: .9em;
    font-weight: normal;
    font-family: sans-serif;
    border-radius: 6px;
    padding: 1px 5px;
    position: absolute;
    z-index: 999;
    top: 135%;
    left: 50%;
    margin-left: -50%;
    opacity: 0;
    transition: opacity 0.3s;
}
.mark-hint .tooltiptext::after {
    content: "";
    position: absolute;
    top: 130%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #cccccc transparent;
}
.mark-hint:hover .mark-hint-tooltip {
    visibility: visible;
    opacity: 1;
}
.mark-tag {
    border-radius: 3px;
    /* padding: 1px 3px; */
    padding: 1px 0;
    margin-right: 0;
    cursor: pointer;
    border: 1px solid white;
    border-left: 0;
    border-right: 0;
}
.mark-tag:hover{
    border-color: red;
}
@keyframes glow {
    0% {
        border-color: #efefef;
        box-shadow: 0 0 5px #efefef;
    }
    100% {
        border-color: #333333;
        box-shadow: 0 0 10px #555555;
    }
}
.mark-tag-active {    
    border-top: 3px solid;
    border-bottom: 3px solid;
    animation: glow 500ms ease-out infinite alternate;
}
.mark-tag-info {
    font-size: .75em;
    margin: 0 2px;
    padding: 0px 2px;
    background: white;
    border-radius: 4px;
}
.mark-tag-info-inline {
}
.mark-tag-info-offset {
    position: relative;
    right: -.7em;
    top: -.7em;
    font-size: .85em;
    color: transparent;
    border-radius: .5em;
}
.mark-tag:hover .mark-tag-info-offset{
    display: inline;
    position: relative;
    right: -.7em;
    top: -.7em;
    font-size: .85em;
    color: grey;
    background-color: white;
}
.mark-tag:hover .mark-tag-info-offset:hover {
    color: black;
    background-color: white;
}
.mark-tag-text {
    margin-right: -.5em;
}
.mark-round {
    border-radius: 8px;
    padding: 0 1px 0 0;
    color: black !important;
}
#cm_editor {
    height: 100%;
}
.CodeMirror {
    height: 100%;
    font-size: 14px;
    line-height: 2em;
}
.CodeMirror-activeline-background {
    background-color: #e3f3fb;
}
.CodeMirror-plots {
    position: absolute;
    width: 100%;
    height: 100%;
}
#cm_svg_plots {
    width: 100%;
    height: 100%;
}
.tag-polyline {
	fill: none;
    stroke: black;
    stroke-width: 1;
    /* vector-effect: non-scaling-stroke; */
    /* stroke-dasharray: 2, 1; */
    opacity: .5;
}
.tag-polyline:hover {
    opacity: .95;
}
.tag-linkdot {
    font-size: 8px;
    padding: 0 1px;
    border-left: 1px solid;
    font-family: 'Courier New', Courier, monospace;
}
.tag-linktext {
    font-size: 9px;
    padding: 0 3px;
}
.tag-linktext-bg {
    stroke-width: 0;
    rx: 3px;
    opacity: 1;
}
.tag-cap {
    font-size: 9px;
    font-family: 'Courier New', Courier, monospace;
    /* font-weight: bold; */
}
.tag-cap-AB,
.tag-cap-ab {
    fill: green;
}
.tag-cap-A,
.tag-cap-a {
    fill: orangered;
}
.tag-cap-B,
.tag-cap-b {
    fill: royalblue;
}
.tag-cap-G,
.tag-cap-g {
    fill: goldenrod;
}
/* span[data-descr] {
    position: relative;
    cursor: help;
}
span[data-descr]:hover::after,
span[data-descr]:focus::after {
    content: attr(data-descr);
    position: absolute;
    left: 0;
    top: 20px;
    min-width: 150px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    background-color: rgba(218, 218, 218, 0.959);
    padding: 4px;
    color: #000000;
    font-size: 1rem;
    line-height: 1.2rem;
    z-index: 999;
} */
.tag-desc-item {
    padding: 0 0 0 3px;
    border-left: 1px solid #bdbdbd;
    margin-bottom: 1px;
}
.tag-desc-attr {
    font-style: italic;
}
.tag-desc-value {
    
}
#hoverbox_etag {
    position: absolute;
    background-color: #efefefee;
    color: black;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    z-index: 888;
    max-width: 300px;
}

/* for the pop menu */
#popmenu_tag {
    z-index: 998;
    min-width: 100px;
    position: absolute;
    left: -100px;
    padding: 1px 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* for the context menu */
#ctxmenu_sel {
    z-index: 999;
    position: absolute;
    left: -100px;
    padding: 1px 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#ctxmenu_nce {
    z-index: 998;
    position: absolute;
    left: -100px;
    padding: 1px 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ctxmenu-item {
    padding: 1px;
    cursor: pointer;
}
.ctxmenu-item:hover {
    background-color: rgb(221, 221, 221);
}
.ctxmenu-divider {
    height: 2px;
    margin: 2px 0;
    background-color: #dfdfdf;
}
.ui-widget-header {
    border: 0;
    height: 2em;
    line-height: 2em;
    text-indent: 0.5em;
    background-color: #EAEAEA;
}
.box-clear-times {
    margin-left: -16px;
    margin-right: 6px;
    z-index: 10;
    cursor: pointer;
    color: lightgrey;
}
.box-clear-times:hover {
    color: #333333;
}
.file-list {
    font-size: .9em;
    padding: 2px;
}
.file-list li {
    border-bottom: 1px dotted #eeeeee;
}
.file-list li.file-selected {
    font-weight: bold;
    background-color: #EFEFEF;
    border-left: 3px solid #1ba1e2;
    padding-left: 5px;
}
.file-list-item {
    margin-bottom: 1px;
}
.file-list-item:hover {
    background-color: #e9e8e8;
}
.file-list-item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.file-list-item-name-unsaved {
    font-style: italic;
}
/* tag list */
.tag-list {
    font-size: 1em;
    padding: 2px;
}
.tag-list li {
    padding: 2px 0;
    border-bottom: 1px dotted #eeeeee;
}
.tag-list li:hover {
    background-color: #EAEAEA;
}
.tag-list-row-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    cursor: pointer;
    flex-grow: 1;
}
.tag-list-row-name-id-prefix {
    font-weight: bold;
    /* text-decoration: underline; */
}
.tag-list-row-count-0 {
    color: #bdbdbd;
    font-size: .95em;
}
.tag-list-row-all-tags {
    position: sticky;
    top: 0;
    z-index: 99;
}
.tag-table {
    font-size: .9em;
    position: relative;
}
.tag-table th, 
.tag-table td {
    padding: 2px;
}
.tag-table th {
    border-bottom: 1px solid #aaaaaa;
    text-align: left;
    position: sticky;
    top: 0;
    background-color: #efefef;
    z-index: 5;
    padding: 4px 0;
}
tr.tag-table-tr-actived {
    /* border-left: 5px solid #d3d3d3; */
    background-color: #fffee8; 
}
.tag-table th.tag-name {
    max-width: 200px;
    width: 180px;
}
.tag-table th.tag-id {
    max-width: 100px;
    width: 60px;
}
.tag-table th.tag-spans {
    max-width: 220px;
    width: 140px;
}
.tag-table td {
    border-bottom: 1px dotted #aaaaaa;
}
.tag-table tr:hover {
    background-color: #EAEAEA;
}
.tag-table td.td-text {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tag-attr-box {
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 1px 5px;
    margin-bottom: 2px;
}
.tag-attr-box:hover{
    background-color: rgb(209, 209, 209);
}
.tag-attr-name {
    font-size: .9em;
}
input[type=text].tag-attr-input {
    padding: 0 3px;
    width: auto;
    max-width: 120px;
    line-height: 1.5em;
    height: 2em;
    display: inline;
    font-size: 1em;
    border: 0;
    border-bottom: 1px solid #999999;
}
select.tag-attr-select {
    padding: 0 3px;
    width: auto;
    max-width: 120px;
    line-height: 1.5em;
    height: 2em;
    display: inline;
    font-size: 1em;
    border: 0;
    border-bottom: 1px solid #999999;
}
.btn {
    padding: 2px 4px;
    border-top: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
}
.btn:hover {
    border-top: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #858585;
    border-bottom: 1px solid #858585;
}
.btn:active {
    border-top: 1px solid #858585;
    border-left: 1px solid #858585;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
}
.btn-xs {
    font-size: .9em;
}
.select-xs {
    font-size: .9em;
    padding: 0 3px;
    width: auto;
    max-width: 120px;
    line-height: 1.5em;
    height: 2em;
    display: inline;
}
.page-current-index {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-weight: bold;
}
.page-total-number {
    font-size: .9em;
    line-height: 2em;
    height: 2em;
    display: inline;
}
.btn-dense {
    padding: 1px 2px !important;
}
.btn-black {
    color: #333333;
}
.btn-black:hover {
    color: #000000;
}
.btn-red {
    color: #b99090;
}
.btn-red:hover {
    color: red;
}
.btn-green {
    color: rgb(77, 118, 15);
}
.btn-green:hover {
    color: #68e22f;
}
.btn-orange {
    color: rgb(186, 107, 42);
}
.btn-orange:hover {
    color: rgb(239, 145, 45);
}
.btn-blue {
    color: rgb(24, 70, 139);
}
.btn-blue:hover {
    color: rgb(70, 166, 235);
}
input[type=text].ipt-xs {
    font-size: 1em;
    line-height: 1em;
    height: 1.4em;
    padding: 2px 3px;
    max-width: 80px;
    display: inline;
    border: 0;
    border: 1px solid #999999;
}
input[type=text].ipt-md {
    font-size: 1.2em;
    line-height: 1.2em;
    height: 1.6em;
    padding: 2px 3px;
    max-width: 150px;
    display: inline;
    border: 0;
    border: 1px solid #999999;
}
input[type=text].ipt-spinner-xs {
    font-size: 1em;
    line-height: 1em;
    height: 1.4em;
    padding: 2px 3px;
    max-width: 80px;
    display: inline;
    border: 0;
}
.icon-fg-unsaved {
    color: #daaf5f;
}
.icon-fg-unsaved:hover {
    color: #ffa600;
}

.ruleset-tag-item {
    /* cursor: pointer; */
    border-bottom: 1px dotted #ececec;
}
.ruleset-tag-item:hover {
    background-color: whitesmoke;
}
.ruleset-tag-name {
    width: 180px;
    min-width: 180px;
    border-left: 1px solid;
}
.ruleset-tag-name-str {
    width: 140px;
    min-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ruleset-tag-text {
    padding: 0px 2px;
}
.ruleset-tag-text-str {
    padding: 0px 3px;
    border-bottom: 1px solid #dadada;
}
.ruleset-tag-text-count {
    padding: 0px 5px;
    background-color: #dadada;
    border-bottom: 1px solid #dadada;
}
.ruleset-tag-text-filelist {
    padding: 1px 0 1px 4px;
    border-left: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    max-height: 115px;
    overflow-y: auto;
}
.ruleset-tag-text-filelist-item {
    /* cursor: pointer; */
    color: #333333;
    padding: 2px 0;
}
.ruleset-tag-text-filelist-item:hover {
    color: rgb(1, 84, 207);
    background-color: #efefef;
}
.ruleset-tag-text-filelist-item-count {
    padding: 0px 2px;
    background-color: #eaeaea;
}
.iaa-tag-attr-name {
    font-size: 0.8em;
}
.iaa-annotator-AB,
.iaa-annotator-ab {
    color: green;
}
.iaa-annotator-A,
.iaa-annotator-a {
    color: orangered;
}
.iaa-annotator-B,
.iaa-annotator-b {
    color: royalblue;
}
.iaa-annotator-G,
.iaa-annotator-g {
    color: goldenrod;
}
.iaa-row-header {
    font-weight: bold;
}
.iaa-row {
    border-bottom: 1px dotted #efefef;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}
.iaa-row-actived {
    background-color: #dfdfdf;
}
.iaa-row:hover {
    background-color: #efefef;
}
.iaa-bar {
    background-color: #1ba1e2;
    height: 1em;
}
.iaa-bar-box {
    width: 120px;
}
.iaa-bar-name-box {
    width: 100px;
    /* fix the overflow of concept name */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.iaa-bar-filename {
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.iaa-bar-value {
    font-size: 0.9em;
    font-weight: bold;
}
.iaa-bar-filename-box {
    width: 150px;
}
.iaa-file-cm-box {
    font-size: 0.8em;
}
.iaa-file-gs-box {
    font-size: 0.8em;
}
.iaa-tag-name {
    text-align: center;
    padding-top: 5px;
    border-top: 2px dotted #dfdfdf;
    /* border-bottom: 1px dashed #dfdfdf; */
}
.iaa-tag-detail {
    /* border-bottom: 1px dashed #dfdfdf; */
    margin-top: 5px;
    margin-bottom: 5px;
}
.iaa-tag-detail:hover {
    background-color: #efefef;
}
.iaa-tag-detail-header {
    /* border-bottom: 1px dashed #dfdfdf; */
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.iaa-tag-detail-info {
    border: 1px;
    border-radius: 5px;
    padding: 5px;
}
.iaa-tag-detail-info-tp {
    border: 1px solid #61a51d;
}
.iaa-tag-detail-info-fp {
    border: 1px dotted #ff7878;
}
.iaa-tag-detail-info-fn {
    border: 1px dotted #ff7878;
}
.iaa-tag-detail-info-gs {
    border: 1px dotted #dfdfdf;
}
.iaa-tag-detail-info-text-ab {
    margin-top: 14px;
}
.iaa-tag-detail-info-text-gs {
    margin-top: 14px;
}
.iaa-tag-detail-a {
    margin-right: 5px;
}
.iaa-tag-detail-b {
    margin-right: 5px;
}
.iaa-tag-detail-g-header {
    cursor: pointer;
}
.iaa-tag-detail-g {
    border-left: 1px dotted #dfdfdf;
    padding-left: 4px;
}
.iaa-tag-detail-g:hover {
    border-left-color: #999999;
    background-color: rgb(253, 236, 205);
}
.iaa-tag-detail-oper {
    display: none;
    position: absolute;
    top: -7px;
    left: -6px;
}
.iaa-tag-detail-info:hover 
.iaa-tag-detail-oper {
    display: block;
}
.iaa-tag-attr {
    border-bottom: 1px solid #aaaaaa;
}
.iaa-tag-attr-name {
    font-size: 0.8em;
}
.iaa-tag-context {
    font-size: 1.2em;
}
.iaa-w-100 {
    width: 100% !important;
}
.iaa-w-80 {
    width: 80% !important;
}
.iaa-w-50 {
    width: 50% !important;
}
.iaa-w-40 {
    width: 40% !important;
}
.iaa-w-20 {
    width: 20% !important;
}
.iaa-op-50 {
    opacity: 0.5;
}
.iaa-select-sm {
    width: 140px;
    padding: 0 !important;
    -webkit-appearance: auto !important;
}
/* for text display */
.clr-red {
    color: red;
}
.clr-grey {
    color: grey;
}
.clr-black {
    color: black;
}
.clr-trans {
    color: transparent;
}
.txt-sm {
    font-size: 0.8em;
}
.txt-bold {
    font-weight: bold;
}
.txt-hover-bold:hover {
    font-weight: bold;
}
.txt-italic {
    font-style: italic;
}
/* fix for metro */
.radio .caption, .radio .check {
    font-size: 1em;
}
.switch .caption, .switch .check {
    font-size: 1em;
}
.switch {
    height: 30px;
}
.radio {
    height: 30px;
}
.ribbon-menu {
    /* to meet the needs of long item list */
    min-width: 1450px;
}
.ribbon-toggle-group .ribbon-icon-button {
    height: 20px;
}
ol[class], ul[class] {
    list-style: none inside;
    margin: 0;
    padding: 0;
}
/* for the linking panel */
#pan_working_tag {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 300px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #aaaaaa;
    background: white;
    box-shadow: 0 0 15px #828282;
    z-index: 999;
}
#pan_working_tag_title {
    cursor: grab;
    background-color: whitesmoke;
}
#pan_working_tag_title:active {
    cursor: grabbing;
}
.rtag-attr-name {
    align-items: center;
    min-width: 100px;
    max-width: 200px;
}
.rtag-attr-value {
    max-width: 150px;
}
.rtag-attr-row:hover {
    background-color: rgb(211, 211, 211) !important;
}
.rtag-attr-row:nth-child(even) {
    background-color: white;
}
.rtag-attr-row:nth-child(odd) {
    background-color: whitesmoke;
}

/* app_settings */
#app_settings {
    position: absolute;
    top: 20px;
    right: 5px;
    width: 280px;
    padding: 5px;
    background-color: white;
    border: 1px solid #828282;
    z-index: 10;
}
.setting-tab {
    border-bottom: 1px solid #aaaaaa;
    cursor: pointer;
}
.active-setting-tab {
    font-weight: bold;
    border: 1px solid #aaaaaa;
    border-bottom: 0;
}
/* fix for code mirror dialog style within metro */
.CodeMirror-dialog input,
.CodeMirror-dialog-top input {
    display: inline;
    height: 1.5rem;
    line-height: 1.5rem;
}
.CM-gutter-test {
    border-left: 2px solid red;
}

/* rules for the statistics tab */
.doctag-table {
    cursor: default;
}
.doctag-table tr:nth-child(even) {
    background: #ffffff;
}
.doctag-table tr:nth-child(odd) {
    background: #f5f5f5aa;
}

.doctag-table td:nth-child(even) {
    /* background: #f5f5f5aa; */
}
.doctag-table td:nth-child(odd) {
    background: #f5f5f5aa;
    /* background: #f5f5f5aa; */
}
.doctag-table tr {
    border-bottom: 1px solid transparent;
}
.doctag-table tr:hover {
    background-color: rgb(219, 219, 219);
    border-color: #646464 !important;
}
.doctag-table th {
    vertical-align: bottom;
    text-align: center;
    border-bottom: 1px solid #cccccc;
    min-width: 30px;
    max-width: 40px;
    padding-top: 5px;
}
.doctag-table th span.rotate-90 {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
}
.doctag-table td {
    vertical-align: center;
    text-align: center;
    padding: 2px;
}
.doctag-table td.td-summary {
    font-weight: bold;
}
.doctag-table td.td-filename {
    border-left: 5px solid transparent;
    padding-left: 5px;
    padding-right: 10px;
    width: 180px;
    max-width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.doctag-table tr:hover td.td-filename{
    border-left-color: #646464;
    font-weight: bold;
    font-style: italic;
}
.doctag-table .td-count {
    display: inline-block;
    width: 100%;
    border: 1px solid transparent;
}
.doctag-table .td-count:hover {
    border-color: #646464;
}
.doctag-table .td-count-0 {
    font-size: 0.9em;
    color: #eeeeee;
}
/* annotation viewer */
#annviewer_bratvis {
    width: 100%;
    height: 100%;
    z-index: 110;
    top: 5px;
}
/* schema editor */
.pop-window {
    min-width: 600px !important;
    max-width: 80% !important;
    z-index: 99;
    display: none;
    top: 5px;
}
.pop-window .window-content {
    overflow-y: auto;
    overflow-x: hidden;
}
.window-menu {
    position: sticky;
    background: white;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #cccccc;
    min-width: 830px !important;
}
.se-button {
    height: 30px !important;
    line-height: 30px !important;
    font-size: 1em;
}
.se-menu-sep-line {
    height: 30px;
    line-height: 30px;
}
.se-tag-row {

}
.se-tag-row:hover {
    background-color: #f5f5f5;
}
.se-tag-attr-cell {
    min-width: 150px;
}
.se-tag-attr-cell:hover {
    background-color: #e6e6e6;
}
.se-input-field-legend {
    font-size: .6em;
    position: absolute;
    z-index: 9;
    margin-top: -6px;
    margin-left: 5px;
    color: #777777;
    background: white;
    padding: 0 1px;
}
.se-input-tag-name {
    width: 120px !important;
    height: 24px !important;
    font-weight: bold !important;
    /* border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important; */
}
.se-btn-link {
    color: #444444 !important;
    padding: 3px 5px;
    cursor: pointer;
}
.se-btn-link:hover {
    color: #333333 !important;
    background-color: rgb(255, 255, 255);
}
.se-tag-attr-del {
}
.se-tag-attr-del:hover {
    color: #fc6262 !important;
}
.se-input-att-name {
    width: 120px !important;
    height: 24px !important;
    /* border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important; */
}
.se-input-att-value {
    width: 90px !important;
    height: 20px !important;
    font-size: .9em !important;
    font-style: italic;
}
.se-input-att-list-values {
    max-width: 150px !important;
    height: 20px !important;
    font-size: .9em !important;
    font-style: italic;
    cursor: pointer;
    pointer-events: auto !important;
}
.se-select-att-value {
    font-size: .9em !important;
    font-style: italic;
    height: 20px !important;
    width: 65px !important;
    line-height: 20px !important;
}
.se-select-att-type {
    font-size: .9em !important;
    font-style: italic;
    height: 20px !important;
    width: 50px !important;
    line-height: 20px !important;
}

/* labels */
.label-red {
    color: #ff4e2f;
}
.label-yellow {
    color: #f3dd34;
}
.label-green {
    color: #61a51d;
}
.label-blue {
    color: #3287e8;
}
.label-purple {
    color: #f200f2;
}

/* annotator-actions */
.box-annotator-actions { 
    display: none;
}
.tag-table-row:hover .box-annotator-actions {
    display: inline;
}

/* for converter */
.converter-dropzone {
    border: 1px solid #999999;
    padding: 5px;
    width: 300px;
    min-height: 250px;
}
.converter-dropzone h5 {
    background-color: white;
}
.converter-button {
    height: auto !important;
    line-height: 1.2em;
}
.converter-file-list {
    max-height: 300px;
    overflow-y: auto;
}
.converter-file-row {
    border-bottom: 1px dotted #cccccc;
    padding: 0 0 0 5px;
    display: flex;
    flex-direction: row;
}
.converter-file-row a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.converter-result-box {
    padding: 0 0 0 1em;
    /* border-left: 1px dotted #cccccc; */
}
.converter-result-download {
    padding: 0 2px;
    color: white;
    background-color: #99d8b3;
}
.converter-result-download:hover {
    background-color: #23911b;
}

/* for changelog display */
.changelog-h3 {
    margin: 0.5em 0;
}
.changelog-p {
    margin: 0;
}

/* for text quick viewer */
.tq-viewer-box {
    position: absolute;
    border: 1px solid #cacaca;
    background-color: white;
    width: 500px;
    box-shadow: 3px 3px #eaeaea;
}
.tq-viewer-header {
    height: 2em;
    line-height: 2em;
    font-weight: bold;
    padding: 0 5px;
    color: #333333;
    background-color: whitesmoke;
    cursor: grab;
}
.tq-viewer-footer {
    height: 2em;
    font-size: 0.9em;
    color: #333333;
    padding: 3px 5px;
    text-align: right;
}
.tq-viewer-oper {
    height: 1.5em;
}
.tq-viewer-content {
    border: 0;
    border-bottom: 1px solid #999999;
    min-height: 180px;
    overflow-y: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
}
.razer-hbar {
    width: 100%;
    margin-bottom: 2px;
    border-bottom: 1px solid transparent;
}
.razer-hbar:hover {
    background-color: #eaeaea;
    border-bottom-color: #777777;
}
.razer-hbar-label {
    margin-right: 5px;
    width: 100px;
    min-width: 100px;
    height: 1.2em;
    line-height: 1.2em;
    font-style: italic;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.razer-hbar-bar-box {
    width: 110px;
    min-width: 110px;
    display: flex;
    flex-direction: row;
}
.razer-hbar-bar {
    height: 1.3em;
}
.razer-bg-FP,
.razer-hbar-bar-FP {
    background-color: #F98686;
    fill: #F98686;
}
.razer-bg-FN,
.razer-hbar-bar-FN {
    background-color: #56B3F6;
    fill: #56B3F6;
}
.razer-hbar-bar-num {
    font-size: 0.8em;
    line-height: 1.5em;
    height: 1.3em;
    margin-left: 2px;
}
.razer-hbar-group {
    padding: 0 0 0 3px;
    border-bottom: 1px dotted #cccccc;
}
.razer-hbar-group:last-child {
    border-bottom: 0;
}
#razer_pan_err_def {
    position: absolute;
    top: 400px;
    right: 0;
    padding: 0.5em;
    border: 1px solid #cccccc;
    box-shadow: 3px 3px 5px #cccccc;
    background-color: white;
    z-index: 99;
    width: min-content;
}
.pan-close {
    position: absolute; 
    left: -7px;
    top: -8px;
    font-size: 1em;
    border-radius: 5px;
    background-color: white;
}
.pan-close:hover {
    color: white;
    background-color: rgb(235, 91, 91);
}
.err-cate-idx {
    font-weight: bold;
    color: black;
    background-color: #d5d5d5;
    padding: 0 2px;;
}
.err-type-row {
    border-bottom: 1px solid transparent
}
.err-type-row:hover {
    background-color: #dedede;
    border-bottom: 1px solid #eaeaea;
}
.err-type-idx {
    color: transparent;
    background-color: transparent;
    padding: 0 2px;;
}
.err-cate-section:hover .err-type-idx {
    color: #333333;
    background-color: #dedede;
}
.err-type-label {
    font-size: 0.9em;
    font-style: italic;
}
.err-cate-section {
    padding: 0 0.5em;
    
    border-right: 1px dotted #ededed;
}
.err-cate-section:last-child {
    border: 0;
}
.err-cate-section:hover {
    background-color: whitesmoke;
}

.err-list-row {
    padding: 3px 16px 3px 0;
    margin: 3px 0;
    min-width: 200px;
    border-bottom: 1px dotted #b3b3b3;
}
.err-list-row:hover {
    background-color: whitesmoke;
}
.err-list-row-sentence {
    font-size: 0.95em;
    color: #535353;
}
.razer-err-list-seq-num {
    position: absolute;
    right: 5px;
    top: -4px;
    font-size: 1.5em;
    color: #e1e1e1;
}
.err-list-row:hover .razer-err-list-seq-num {
    color: #c0c0c0;
    font-weight: bold;
}
.btn-add-err-type {
    border: 1px dashed #cccccc;
    background-color: white;
    width: 40px;
    text-align: center;
    color: #888888;
}
.btn-add-err-type:hover {
    border: 1px dashed #888888;
    color: #333333;
}
#err_sankey_box {
    width: 630px;
    height: 420px;
    padding: 5px;
}
#razer_sankey_diagram {
    width: 630px;
    height: 420px;
}
.sankey-node:hover {
    filter: brightness(88%);
}
.sankey-link:hover {
    filter: brightness(88%);
}
#razer_tag_scatter {
    width: 630px;
    height: 400px;
}

.err-label {
    padding: 0 11px;
    border-radius: 5px;
    font-size: 0.9em;
    height: 1.6em;
    background-color: whitesmoke;
    border: 1px solid #eaeaea;
    cursor: default;
}
.err-label:hover {
    filter: brightness(90%);
}
.err-label .pan-close {
    display: none;
    left: -1px !important;
    top: -1px !important;
    padding: 1px 2px;
}
.err-label:hover .pan-close {
    display: inline;
}
.razer-lane-1 {
    width: 240px;
    min-width: 240px;
}
.razer-lane-3 {
    width: 640px;
    min-width: 640px;
}