<div v-show="section=='toolkit'" id="main_ui"
    class="main-ui container-fluid">
    <div class="w-100 d-flex flex-row p-1" 
        style="height: calc(100% + 10px);">

        <!-- Tool #1: MedTaggerVis -->
        <div id="mui_ruleset_result" 
            class="d-flex w-100 h-100">

            <div class="box h-100 border-right bd-gray mr-1 p-1"
                style="width: 250px;">
                <div class="box-header">
                    <h4>
                        <i class="fa fa-list-ul"></i>
                        Raw .txt Files
                    </h4>
                </div>

                <div class="box-body h-100">
                    <p v-if="tk_medtaggervis_is_loading_txt_files">
                        Loading files ... <br>
                        Please wait for a little while. <br>
                        <i class="fas fa-spinner fa-spin"></i>
                    </p>
                    <p v-else-if="tk_medtaggervis_txt_files.length == 0">
                        Drag and drop the <b>.txt</b> files or the folder contains <b>.txt</b> files in this box
                    </p>
                    <p v-else>
                        Loaded <b>{{ n_converter_corpus_medtagger_txt_files }} </b> text files (.txt).
                        <span v-if="n_converter_corpus_medtagger_txt_files > max_converter_display_files">
                            As too many files are loaded, only show the first {{ max_converter_display_files }}.
                        </span>
                    </p>
                </div>
            </div>
            <!-- /.box -->
            

            <div class="box h-100 border-right bd-gray mr-1 p-1"
                style="width: 250px;">
                <div class="box-header">
                    <h4>
                        <i class="fa fa-list-ul"></i>
                        Output .ann Files
                    </h4>
                </div>

                <div class="box-body h-100">

                </div>
            </div>
            <!-- /.box -->

            <div class="box h-100 p-1"
                style="width: calc(100% - 500px);">
                <div class="box-header">
                    <h4>
                        <i class="fa fa-list-ul"></i>
                        Document and Tags
                    </h4>
                </div>

                <div class="box-body h-100">

                </div>
            </div>
            <!-- /.box -->

        </div>


    </div>
</div>