<div>
    Overall Cohen's Kappa: 
    <b>
        {{ to_fixed(iaa_dict.all.cohen_kappa.kappa) }} 
    </b>
    &nbsp;
    &nbsp;
    Percentage Agreement: 
    <b>
        {{ to_fixed(iaa_dict.all.cohen_kappa.Po) }}
    </b>

    <br>
    
    <i class="ml-1">TP</i>: <b>{{ iaa_dict.all.cm.tp }}</b>
    &nbsp;
    <i class="ml-1">FP</i>: <b>{{ iaa_dict.all.cm.fp }}</b>
    &nbsp;
    <i class="ml-1">FN</i>: <b>{{ iaa_dict.all.cm.fn }}</b>
    &nbsp;
    <i class="ml-1">N</i>: <b>{{ iaa_dict.all.cohen_kappa.N }}</b>
    <br>

    <i class="ml-1">Po</i>: <b>{{ to_fixed(iaa_dict.all.cohen_kappa.Po) }}</b>
    &nbsp;
    <i class="ml-1">Pe</i>: <b>{{ to_fixed(iaa_dict.all.cohen_kappa.Pe) }}</b>
    &nbsp;
    <i class="ml-1">SE<sub>k</sub></i>: <b>{{ to_fixed(iaa_dict.all.cohen_kappa.SE_k) }}</b>
    &nbsp;
    <i class="ml-1">95% CI</i>: 
    <b>
        {{ to_fixed(iaa_dict.all.cohen_kappa.lower) }}, 
        {{ to_fixed(iaa_dict.all.cohen_kappa.upper) }}
    </b>

</div>

<!-- 
<div class="mr-2">
    <p>
        Cohen's Kappa of each document
    </p>

    <div v-for="ann_rst, ann_hashcode in iaa_dict.ann"
        v-bind:class="{'iaa-row-actived': iaa_display_hashcode == ann_hashcode}"
        class="iaa-row d-flex flex-row">
        <div class="iaa-bar-name-box d-flex flex-row flex-align-center flex-justify-start mr-1">
            {{ ann_rst.anns[0]._filename }}
        </div>
        <div>
            <b>
                {{ to_fixed(ann_rst.rst.all.cohen_kappa.kappa ) }}
            </b>&nbsp;
            (
                {{ to_fixed(ann_rst.rst.all.cohen_kappa.lower) }} , 
                {{ to_fixed(ann_rst.rst.all.cohen_kappa.upper) }}
            )
        </div>
    </div>


</div> 
-->

<div class="mr-2">
    <table id="table_cohen_kappa_confusion_matrix" class="doctag-table">
        <thead>
            <tr style="background: white;">
                <th style="border: 0;"
                    colspan="2">
                    &nbsp;
                </th>
                <th v-bind:colspan="dtd.etags.length+2">
                    <b>
                        Annotator B
                    </b>
                </th>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th v-for="tag_def in dtd.etags"
                    v-bind:class="'fg-tag-' + tag_def.name">
                    <span class="rotate-90">
                        <i class="fa fa-tag"
                            v-bind:class="'fg-tag-' + tag_def.name">
                        </i>
                        {{ tag_def.name }}
                    </span>
                </th>
                <!-- 
                <th v-for="tag_def in dtd.ltags"
                    v-bind:class="'fg-tag-' + tag_def.name">
                    <span class="rotate-90">
                        <i class="fa fa-link"
                            v-bind:class="'fg-tag-' + tag_def.name">
                        </i>
                        {{ tag_def.name }}
                    </span>
                </th> 
                -->
    
                <th>EMPTY</th>
                <th>
                    <i>P<sub>b</sub></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="tag_def_row, row_idx in dtd.etags">
                <td v-if="row_idx == 0"
                    style="vertical-align: middle; padding: 10px;"
                    v-bind:rowspan="dtd.etags.length+2">
                    <b>Annotator A</b>
                </td>
                <td v-bind:class="'fg-tag-' + tag_def_row.name">
                    <span class="txt-bold">
                        <i class="fa fa-tag"></i>
                        {{ tag_def_row.name }}
                    </span>
                </td>
                <td v-for="tag_def_col in dtd.etags">
                    <span v-if="tag_def_col.name == tag_def_row.name">
                        {{ iaa_dict.tag[tag_def_row.name].cm.tp }}
                    </span>
                    <span v-else>
                        &nbsp;
                    </span>
                </td>
                <td class="clr-grey">
                    {{ iaa_dict.tag[tag_def_row.name].cm.fp }}
                </td>
                <td class="txt-italic">
                    <span>
                        {{ to_fixed(iaa_dict.all.cohen_kappa.Pes.b[tag_def_row.name]) }}
                    </span>
                </td>
            </tr>
    
            <tr>
                <td class="txt-bold">EMPTY</td>
                <td v-for="tag_def_col in dtd.etags"
                    class="clr-grey">
                    <span>
                        {{ iaa_dict.tag[tag_def_col.name].cm.fn }}
                    </span>
                </td>
                <td class="clr-grey">
                    0
                </td>
                <td class="txt-italic">
                    <span>
                        {{ to_fixed(iaa_dict.all.cohen_kappa.Pes.b['_EMPTY_']) }}
                    </span>
                </td>
            </tr>
            <tr>
                <td class="txt-bold">
                    <i>P<sub>a</sub></i>
                </td>
                <td v-for="tag_def_col in dtd.etags"
                    class="txt-italic">
                    <span>
                        {{ to_fixed(iaa_dict.all.cohen_kappa.Pes.a[tag_def_col.name]) }}
                    </span>
                </td>
                <td class="txt-italic">
                    <span>
                        {{ to_fixed(iaa_dict.all.cohen_kappa.Pes.a['_EMPTY_']) }}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        
        
    </p>
</div>