<!-- the section for annotation -->
<div class="section" id="section-1-1" 
v-bind:class="{'active': section=='annotation'}">

<div class="group">

    <div id="dropzone_dtd" 
        class="dropzone"
        title="Drop a schema file (.dtd) that contains the annotation task"
        v-on:click="on_click_open_dtd_file"
        v-on:dragover="on_dragover_prevent_default"
        v-on:drop="on_drop_dropzone_dtd">
        <div v-if="dtd != null" class="zone-text">
            <b>{{ dtd.name }}</b><br>
            {{ dtd.etags.length }} Entity Tags<br>
            {{ dtd.rtags.length }} Link Tags
        </div>
        <div v-else>
            Drop a <b>Schema</b> File Here
        </div>
    </div>

    <span class="title">

        Schema File (.yaml / json / dtd)

        <span v-if="dtd != null">
            <a href="javascript:void(0);"
                title="Download the current schema file"
                class="link-btn"
                v-on:click="download_schema_as_dtd">
                <i class="fa fa-download"></i>
            </a>
        </span>
    </span>
</div>


<div class="group">
    <div id="dropzone_ann" 
        title="Drop the file(s) for annotation (.xml or .txt) or folder(s) containing annotation files"
        v-on:click="on_click_open_ann_files"
        v-on:dragover="on_dragover_prevent_default"
        v-on:drop="on_drop_filelist"
        v-bind:class="{'disabled-zone': dtd == null, 'dropzone': dtd != null}">

        <div v-if="dtd == null"
            title="Load the schema for annotation task first">
            <i class="fa fa-arrow-left"></i>
            Load schema file first
        </div>
        <div v-else-if="virtual_anns.v_anns.length == 0" 
            title="Drop the file(s) for annotation (.xml or .txt) or folder(s) containing annotation files"
            class="zone-text">
            Drop <b>Annotation</b> <br>
            File(s) / Folder Here
        </div>
        <div v-else-if="ann_idx == null"
            title="Drop the file(s) for annotation (.xml or .txt) or folder(s) containing annotation files"
            class="zone-text">
            Select <b>Annotation File</b> <br>
            in the File List
        </div>
        <div v-else
            title="Drop the file(s) for annotation (.xml or .txt) or folder(s) containing annotation files"
            class="zone-text">
            <b>{{ anns[ann_idx]._filename }}</b><br>
            {{ anns[ann_idx].text.length }} chars<br>
            {{ anns[ann_idx].tags.length }} tags
        </div>
    </div>

    <span class="title">Annotation File (.xml)</span>
</div>


<div v-if="ann_idx != null"
    class="group">
    <button class="ribbon-button"
        title="Save the current editing annotation file to local disk (Ctrl + S)"
        v-if="has_FSA_API()"
        v-on:click="save_xml">
        <span class="icon">
            <i class="far fa-save"></i>
        </span>
        <span class="caption">Save</span>
    </button>

    <!-- 
    <button class="ribbon-button"
        title="Save a copy of the current editing annotation file"
        v-if="has_FSA_API()"
        v-on:click="save_as_xml">
        <span class="icon">
            <i class="far fa-copy"></i>
        </span>
        <span class="caption">Save as</span>
    </button> 
    -->

    <div class="ribbon-split-button"
        id="btn_annotation_save_">
        <button class="ribbon-main"
            title="Save a copy of the current editing annotation file"
            v-on:click="save_as_xml">
            <span class="icon">
                <i class="far fa-copy"></i>
            </span>
        </button>
        <span class="ribbon-split dropdown-toggle">
            Save as
        </span>
        <ul class="ribbon-dropdown text-left" 
            data-role="dropdown" 
            data-duration="100">

            <li class="divider"></li>

            <li title="Download a copy of the current annotation as MedTator XML format"
                v-on:click="download_copy_as_xml">
                <a href="javascript:void(0);">Download a copy</a>
            </li>

            <li title="Download a copy of the current annotation as BioC XML format"
                v-on:click="download_copy_as_bioc">
                <a href="javascript:void(0);">Download a copy as BioC format</a>
            </li>

            <li class="divider"></li>

            <li title="Download all annotation files as a ZIP file"
                v-on:click="download_all_as_zip(true)">
                <a href="javascript:void(0);">Download all as a ZIP file</a>
            </li>

            <li title="Download all annotation files and the schema file as a ZIP file"
                v-on:click="download_all_as_zip(false)">
                <a href="javascript:void(0);">Download all with schema as a ZIP file</a>
            </li>
        </ul>
    </div>

    <button class="ribbon-button"
        title="Due to limited browser support, the current annotation file could only be downloaded."
        v-if="!has_FSA_API()"
        v-on:click="download_copy_as_xml">
        <span class="icon">
            <i class="fa fa-file-download"></i>
        </span>
        <span class="caption">Download</span>
    </button>
    
    <a id="downloadAnchorElem" style="display:none"></a>

    <span class="title">Save</span>
</div>

<div v-if="ann_idx != null"
    class="group">
    
    <div class="ribbon-split-button"
        id="btn_annotation_save_">
        <button class="ribbon-main"
            title="Set a Green label to the current file"
            v-on:click="set_label('green')">
            <span class="icon">
                <i class="far fa-bookmark"></i>
            </span>
        </button>
        <span class="ribbon-split dropdown-toggle">Set Labels</span>
        <ul class="ribbon-dropdown text-left" 
            data-role="dropdown" 
            data-duration="100">
            <li title="Set a Green label to the current file"
                v-on:click="set_label('green')">
                <a href="javascript:void(0);">Set <b class="label-green"> <i class="fa fa-bookmark"></i> Green</b> Label</a>
            </li>
            <li title="Set a red label to the current file"
                v-on:click="set_label('red')">
                <a href="javascript:void(0);">Set <b class="label-red"> <i class="fa fa-bookmark"></i> Red</b> Label</a>
            </li>
            <li title="Set a yellow label to the current file"
                v-on:click="set_label('yellow')">
                <a href="javascript:void(0);">Set <b class="label-yellow"> <i class="fa fa-bookmark"></i> Yellow</b> Label</a>
            </li>
            <li title="Set a blue label to the current file"
                v-on:click="set_label('blue')">
                <a href="javascript:void(0);">Set <b class="label-blue"> <i class="fa fa-bookmark"></i> Blue</b> Label</a>
            </li>
            <!-- <li title="Set a purple label to the current file"
                v-on:click="set_label('purple')">
                <a href="javascript:void(0);">Set <b class="label-purple"> <i class="fa fa-bookmark"></i> Purple</b> Label</a>
            </li> -->

            <li class="divider"></li>

            <li title="Download all annotation files and the schema file as a ZIP file"
                v-on:click="remove_labels()">
                <a href="javascript:void(0);">Remove Labels</a>
            </li>
        </ul>
    </div>
    
    <span class="title">File Label</span>
</div>

<div class="group">
    <div title="Display the current annotation file in its original format or sentence by sentence">
        <input type="radio" 
            name="display_mode" 
            value="document" 
            data-role="radio" 
            data-caption="Document" 
            checked 
            title="Display the current annotation file in its original format"
            v-model="cm.display_mode"
            @change="on_change_display_mode">
        <br>
        <input type="radio" 
            name="display_mode" 
            value="sentences" 
            data-role="radio" 
            data-caption="Sentences" 
            title="Display the current annotation file sentence by sentence. The sentence tokenization algorithm could be changed in settings."
            v-model="cm.display_mode"
            @change="on_change_display_mode">
    </div>



    <div class="ribbon-split-button">
        <button class="ribbon-main"
            title="Visualize this document and annotated tags"
            v-on:click="show_avbrat">
            <span class="icon">
                <i class="fas fa-igloo"></i>
            </span>
        </button>
        <span class="ribbon-split dropdown-toggle">Vis</span>
        <ul class="ribbon-dropdown text-left" 
            data-role="dropdown" 
            data-duration="100">

            <li title="MedTator wiki that includes quick start, manual, and technical details."
                v-on:click="show_wiki">
                <a href="javascript:void(0);">MedTator Wiki</a>
            </li>

            <li title="The best practices for corpus annotation."
                v-on:click="show_best_practice">
                <a href="javascript:void(0);">Annotation Best Practice</a>
            </li>

            <li class="divider"></li>

            <li title="Found anything not working? Report an issue or send feedback"
                v-on:click="report_an_issue">
                <a href="javascript:void(0);">Report an Issue</a>
            </li>
        </ul>
    </div>

    <span class="title">Display Mode</span>
</div>

<div class="group">
    <div class="d-flex flex-column">
        <button class="ribbon-icon-button"
            title="Show search bar"
            style="height: 30px;"
            v-on:click="show_search_bar">
            <span class="icon">
                <i class="fa fa-search"></i>
            </span>
            <span class="caption">Search</span>
        </button>

        <button class="ribbon-icon-button"
            title="Clear highlights of the search results"
            style="height: 30px;"
            v-on:click="clear_search_result">
            <span class="icon">
                <i class="fa fa-eraser"></i>
            </span>
            <span class="caption">Clear</span>
        </button>
    </div>
    <!-- <div>

        <button class="ribbon-button" 
            title="Show search bar"
            v-on:click="show_search_bar">
            <span class="icon">
                <i class="fa fa-search"></i>
            </span>
            <span class="caption">Search</span>
        </button>
        
        <button class="ribbon-button" 
            title="Clear highlights of the search results"
            v-on:click="clear_search_result">
            <span class="icon">
                <i class="fa fa-eraser"></i>
            </span>
            <span class="caption">Clear</span>
        </button>
        
    </div> -->

    <span class="title">Search</span>
</div>

<div class="group">
    <div>
        <input type="radio" 
            name="mark_mode" 
            value="node" 
            data-role="radio" 
            data-caption="Color + ID" 
            checked 
            title="Display the entity tags on a background color with the tag ID"
            v-model="cm.mark_mode"
            @change="on_change_mark_mode">
        <br>
        <input type="radio" 
            name="mark_mode" 
            value="span" 
            data-role="radio" 
            data-caption="Color Only" 
            title="Display the entity tags on the corresponding background color only"
            v-model="cm.mark_mode"
            @change="on_change_mark_mode">
    </div>
    <span class="title">Entity Marks</span>
</div>

<div class="group">
    <div title="Display the link tags and lines">
        <input type="checkbox" 
            class="check"
            data-role="switch" 
            data-caption="Show Links"
            title="Visualize link tags in the current document"
            v-model="cm.enabled_links"
            @change="on_change_link_settings">
        <br>
        
        <input type="checkbox" 
            class="check"
            data-role="switch" 
            data-caption="Show Lines"
            title="Visualize the line drawing of link tag"
            v-model="cm.enabled_link_complex"
            @change="on_change_link_settings">
    </div>

    <!-- <div v-show="is_linking">
        <button class="ribbon-button"
            title="Create a new link tag with selected tags"
            v-on:click="done_linking">
            <span class="icon">
                <span class="fa fa-check-circle"></span>
            </span>
            <span class="caption">Done Linking</span>
        </button>
    </div>

    <div v-show="is_linking">
        <button class="ribbon-button"
            title="Stop linking tags and discard selected tags"
            v-on:click="cancel_linking">
            <span class="icon">
                <span class="far fa-times-circle"></span>
            </span>
            <span class="caption">Cancel Linking</span>
        </button>
    </div> -->
    <span class="title">Link Marks</span>
</div>

<div class="group">
    <div class="ribbon-toggle-group">
        <button class="ribbon-icon-button active"
            title="Show simple hints based on annotated tags"
            v-on:click="on_change_hint_mode('simple')">
            <span class="icon">
                <span class="mif-list"></span>
            </span>
            <span class="caption">Simple Hint</span>
        </button>

        <!-- <button class="ribbon-icon-button"
            v-on:click="on_change_hint_mode('smart')">
            <span class="icon">
                <span class="fa fa-magic"></span>
            </span>
            <span class="caption">Smart</span>
        </button> -->

        <button class="ribbon-icon-button"
            title="Turn off hint display"
            v-on:click="on_change_hint_mode('off')">
            <span class="icon">
                <span class="fa fa-ban"></span>
            </span>
            <span class="caption">No Hint</span>
        </button>
    </div>

    <div>

        <button class="ribbon-button" 
            title="Accept all hints in the current annotation"
            v-on:click="accept_all_hints">
            <span class="icon">
                <i class="fa fa-check-double"></i>
            </span>
            <span class="caption">Accept All</span>
        </button>
        
    </div>

    <span class="title">Hint Marks</span>
</div>


<div class="group">

    <div class="ribbon-split-button"
        id="btn_annotation_load_sample">
        <button class="ribbon-main"
            title="Load a minimal task"
            v-on:click="load_sample_ds('MINIMAL_TASK')">
            <span class="icon">
                <i class="far fa-edit"></i>
            </span>
        </button>
        <span class="ribbon-split dropdown-toggle">Sample</span>
        <ul class="ribbon-dropdown text-left" 
            data-role="dropdown" 
            data-duration="100">
            <li title="Sample Text: COVID vaccine note for annotation test"
                v-on:click="load_sample_txt">
                <a href="javascript:void(0);">Sample Text: COVID Vaccine Note</a>
            </li>
            <li title="Sample Text from user's input"
                v-on:click="load_sample_txt_from_input">
                <a href="javascript:void(0);">Customize a Sample Text</a>
            </li>
            <li class="divider"></li>
            {% for item in config['TASK_SAMPLES'] %}
            {% if item is none %}
            <li class="divider"></li>
            {% else %}
            <li title="[[ item[2] ]]"
                v-on:click="load_sample_ds('[[ item[0] ]]');">
                <a href="javascript:void(0);">[[ item[1] ]]</a>
            </li>
            {% endif %}
            {% endfor %}
            <li class="divider"></li>
            <li title="A sample corpus of VAERS dataset for vaccine adverse events"
                v-on:click="load_sample_ds_remote('VAERS_20_NOTES');">
                <a href="javascript:void(0);">
                    <i class="fab fa-github"></i>
                    VAERS Adverse Event Annotation Task
                </a>
            </li>
            <li title="A sample of error analysis task"
                v-on:click="load_sample_ds('SIMPLE_EA')">
                <a href="javascript:void(0);">
                    <i class="fab fa-github"></i>
                    Error Analysis of NLP System Results
                </a>
            </li>
        </ul>
    </div>

    <div style="margin-top: -2px;">
        <div class="ribbon-split-button">
            <button v-on:click="show_schema_editor(0)"
                style="height: 40px;"
                title="Edit current schema or create a new schema"
                class="ribbon-main">
                <span class="icon">
                    <span class="mif-cell-setting"></span>
                </span>
            </button>
            <span class="ribbon-split dropdown-toggle">Schema</span>
            <ul class="ribbon-dropdown text-left" 
                data-role="dropdown" data-duration="100">
                <li v-if="dtd != null"
                    title="Show the schema editor with the current schema in the annotation tab">
                    <a href="javascript:void(0);"
                    v-on:click="show_schema_editor(2)">
                    Edit Current Schema File
                </a></li>
                <li title="Show the schema editor with a new blank schema file">
                    <a href="javascript:void(0);"
                    v-on:click="show_schema_editor(1)">
                    Create New Schema File
                </a></li>
                <!-- <li><a href="javascript:void(0);" class="dropdown-toggle">
                    Sample Schema Files
                    </a>
                    <ul class="ribbon-dropdown" data-role="dropdown">
                        <li><a href="javascript:void(0);">
                            COVID-19 Symptons
                        </a></li>
                        <li><a href="javascript:void(0);">
                            Long COVID-19
                        </a></li>
                    </ul>
                </li> -->
                <li class="divider"></li>
                <li title="Show wiki page of how to use schema editor">
                    <a href="javascript:void(0);"
                    v-on:click="show_se_help">
                    How to Use Schema Editor?
                </a></li>
                <li title="Show more sample schema files in MedTator GitHub repo">
                    <a href="javascript:void(0);"
                    v-on:click="show_sample_schema_files">
                    More Sample Schema Files ...
                </a></li>
            </ul>
        </div>
    </div>

    <div class="ribbon-split-button">
        <button class="ribbon-main"
            title="MedTator wiki that includes quick start, manual, and technical details."
            v-on:click="show_wiki">
            <span class="icon">
                <i class="fa fa-info"></i>
            </span>
        </button>
        <span class="ribbon-split dropdown-toggle">Wiki</span>
        <ul class="ribbon-dropdown text-left" 
            data-role="dropdown" 
            data-duration="100">

            <li title="MedTator wiki that includes quick start, manual, and technical details."
                v-on:click="show_wiki">
                <a href="javascript:void(0);">MedTator Wiki</a>
            </li>

            <li title="The best practices for corpus annotation."
                v-on:click="show_best_practice">
                <a href="javascript:void(0);">Annotation Best Practice</a>
            </li>

            <li class="divider"></li>

            <li title="Found anything not working? Report an issue or send feedback"
                v-on:click="report_an_issue">
                <a href="javascript:void(0);">Report an Issue</a>
            </li>
        </ul>
    </div>

    <!-- <button class="ribbon-button" 
        data-role="popover"
        data-popover-position="right"
        data-popover-text="MedTator wiki that includes quick start, <br>manual, and technical details."
        v-on:click="show_wiki">
        <span class="icon">
            <i class="fa fa-info"></i>
        </span>
        <span class="caption">Wiki</span>
    </button> -->

    <span class="title">Help</span>
</div>

</div>