<div id="schema_editor"
    data-cls-window="schema-editor"
    class="p-2" 
    data-draggable="true"
    data-btn-min="false"
    data-btn-max="false"
    data-btn-close="false"
    data-shadow="true"
    data-height="600px"
    data-top="10px"
    data-left="55px"
    data-title="&nbsp;&nbsp;<i class='fa fa-edit'></i> Schema Editor"
    data-cls-caption="bg-light fg-black"
    data-role="window" >

    <div>
        <div id="schema_editor_menu"
            class="pt-2 pb-2 mb-2 d-flex flex-row">

            <div v-if="se_dtd != null"
                class="mr-1">
                <span class="se-input-field-legend">
                    SCHEMA NAME
                </span>
                <input type="text" 
                    style="width: 150px; height: 30px;"
                    class=""
                    v-on:keypress="on_keypress_se_dtd_input($event)"
                    v-model="se_dtd.name">
            </div>
            <div v-else
                class="mr-1">

            </div>
            
            <ul class="h-menu horizontal">
                <li class="mr-2 border-right bd-gray"
                    title="Create a new annotation schema"
                    v-on:click="create_new_se_dtd">
                    <a href="javascript:void(0);">
                    <i class="far fa-file"></i>
                    <span class="caption">New</span>
                </a></li>

                <li class="mr-2 border-right bd-gray"
                    title="Open local annotation schema"
                    v-on:click="open_se_dtd">
                    <a href="javascript:void(0);">
                    <i class="far fa-folder-open"></i>
                    <span class="caption">Open</span>
                </a></li>

                <!-- <li>
                    <select style="width: 120px; height: 30px; line-height: 30px;"
                        v-model="se_dtd_tpl_id">
                        <optgroup label="Sample 1: Simple Tasks">
                            <option value="s-1-1">1.1 Minimal Task</option>
                            <option value="s-1-2">1.2 Two Entities and One Relation</option>
                            <option value="s-1-3">1.3 Three Entities for Document-Level Task</option>
                        </optgroup>
                    
                        <optgroup label="Sample 2: Large Tasks">
                            <option value="s-2-1">2.1 COVID-19 Symptoms (8E)</option>
                            <option value="s-2-2">2.2 COVID-19 Vaccine Adverse Events (9E1R)</option>
                            <option value="s-2-3">2.3 Symptoms of long COVID (10E)</option>
                        </optgroup>
                    </select>
                </li>
                <li class="mr-2 border-right bd-gray"
                    title="Load the selected schema">
                    <a href="javascript:void(0);">
                    <i class="far fa-folder-open"></i>
                    <span class="caption">Load</span>
                </a></li> -->

                
                <li v-if="se_dtd != null" 
                    v-on:click="use_se_dtd_for_annotation(se_dtd)"
                    class="mr-1"
                    title="Use this schema for annotation">
                    <a href="javascript:void(0);">
                    <span class="mif-rocket icon"></span>
                    <span class="caption">Use</span>
                </a></li>
                
                <li v-if="se_dtd != null" 
                    class="mr-1 border-right bd-gray"
                    title="Download current schema file"
                    v-on:click="download_se_dtd(se_dtd)">
                    <a href="javascript:void(0);">
                    <span class="mif-download icon"></span>
                    <span class="caption">Download</span>
                </a></li>
                
                <li class="mr-1"
                    title="Close schema editor"
                    v-on:click="close_schema_editor"
                    ><a href="javascript:void(0);">
                    <span class="mif-cross icon"></span>
                    <span class="caption">Close</span>
                </a></li>
            </ul>
        </div>


        <div v-if="se_dtd != null"
            class="w-100">
            <div class="d-flex flex-row">
                

            </div>

            <div class="d-flex flex-column">
                <div v-for="tags, idx in [se_dtd.etags, se_dtd.ltags]"
                    class="d-flex flex-column mb-4">
                    <h5 class="mt-0 mb-2 pt-2 pb-2 bg-light">
                        <span v-if="idx == 0">
                            <i class="fa fa-tags"></i>
                            ENTITY TAGS - 
                        </span>
                        <span v-else>
                            <i class="fa fa-link"></i>
                            RELATION TAGS -
                        </span>
                        <span class="txt-sm">
                            {{ tags.length }} tag(s)
                        </span>
                        |
                        <a class="se-btn-link mr-2"
                            v-on:click="add_se_dtd_tag(se_dtd, idx)">
                            <i class="fa fa-plus"></i>
                            Tag
                        </a>
                    </h5>
                    <div v-for="tag_def, tag_idx in tags"
                        class="se-tag-row d-flex flex-row pt-3 pb-2 border-bottom bd-gray">
                        <div class="se-tag-name mr-4 d-flex flex-column flex-align-end">
                            <div class="mb-1 p-1 d-flex flex-row">
                                <span class="se-input-field-legend">
                                    TAG NAME
                                </span>
                                <input type="text"
                                    class="se-input-tag-name mr-1"
                                    v-on:keypress="on_keypress_se_dtd_input($event)"
                                    v-model="tag_def.name">
                                
                                <a class="se-btn-link se-tag-attr-del"
                                    title="Delete this tag"
                                    v-on:click="remove_se_dtd_tag(se_dtd, tag_def, idx, tag_idx)">
                                    <i class="fa fa-minus"></i>
                                </a>
                            </div>
                            
                            <div class="d-flex flex-row pr-1">
                                <div>
                                    <div v-if="idx==0" class="mr-1">
                                        <span class="se-input-field-legend">
                                            ANN.TYPE
                                        </span>
                                        <select v-model="tag_def.is_non_consuming"
                                            title="The tag can be assigned to a whole document for document-level annotation task. Otherwise just span-based annotation."
                                            class="se-select-att-type">
                                            <option :value="true">
                                                DOCUMENT + SPAN
                                            </option>
                                            <option :value="false">
                                                SPAN
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div>
                                    <a class="se-btn-link"
                                        v-on:click="add_se_dtd_tag_attr(se_dtd, tag_def)"
                                        v-bind:title="'Add new attribute to this [' + tag_def.name + ']'">
                                        <i class="fa fa-plus"></i>
                                        Attr
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="d-flex flex-row flex-wrap">

                            <div v-for="att, att_idx in tag_def.attlists"
                                v-show="att.vtype != 'dfix'"
                                class="se-tag-attr-cell mr-2 mb-2 p-1">
                                <div class="mb-2 d-flex flex-row">
                                    <span class="se-input-field-legend">
                                        ATTRIBUTE
                                    </span>
                                    <input type="text"
                                        class="se-input-att-name"
                                        v-on:keypress="on_keypress_se_dtd_input($event)"
                                        v-model="att.name">

                                    <a class="se-btn-link se-tag-attr-del"
                                        title="Remove this attribute"
                                        v-on:click="remove_se_dtd_tag_attr(se_dtd, tag_def, att, idx, tag_idx, att_idx)">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                </div>

                                <div class="d-flex flex-row">
                                    <div class="mr-1">
                                        <span class="se-input-field-legend">
                                            TYPE
                                        </span>
                                        <select v-model="att.vtype"
                                            class="se-select-att-type">
                                            <option value="text">
                                                TEXT
                                            </option>
                                            <option value="list">
                                                LIST
                                            </option>
                                            <option v-if="idx==1" value="idref">
                                                LINK
                                            </option>
                                        </select>
                                    </div>

                                    <div v-if="att.vtype == 'text'">
                                        <span class="se-input-field-legend">
                                            DEFAULT
                                        </span>
                                        <input type="text"
                                            title="The default value for"
                                            class="se-input-att-value"
                                            v-model="att.default_value">
                                    </div>
                                    <div v-else-if="att.vtype == 'list'"
                                        class="d-flex flex-row">
                                        <div class="mr-1">
                                            <span class="se-input-field-legend">
                                                DEFAULT
                                            </span>
                                            <select v-model="att.default_value"
                                                title="The default item for this attribute"
                                                class="se-select-att-value">
                                                <option v-for="att_opt_val in att.values"
                                                    v-bind:value="att_opt_val">
                                                    {{ att_opt_val }}
                                                </option>
                                            </select>
                                        </div>
                                        <div>
                                            <span class="se-input-field-legend">
                                                ITEMS ({{ att.values.length }})
                                            </span>
                                            <input type="text"
                                                class="se-input-att-list-values"
                                                readonly
                                                title="Click to edit the item list"
                                                v-on:click="show_att_list_editor(att)"
                                                v-bind:value="att.values.join('|')">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div v-else>
            <p>
                You can click the "New" button to create an empty annotation schema.
                <br>
                Or click the "Open" button to open an existing schema file to edit.
            </p>
            <p>
                Once the schema design is finished, you can download it as a DTD format file for backup, or use it directly in annotation.
                <br>
                The specification of the annotation schema file can be found in <a href="https://github.com/OHNLP/MedTator/wiki/Annotation-Schema">MedTator Wiki</a>.
            </p>
            <p>
                For more schema samples, you can check <a target="_blank" href="https://github.com/OHNLP/MedTator/tree/main/sample">MedTator sample schemas on GitHub repo</a>.
            </p>

        </div>
    </div>
    
</div>