<div v-show="section=='statistics'" id="main_ui" 
    class="main-ui container-fluid">
    <div class="w-100 d-flex flex-row" style="height: calc(100% + 10px);">

        <div id="mui_stat_summary" class="d-flex h-100">
            <div class="box w-100">
                <div class="box-header">
                    <h4>
                        <i class="fa fa-list-ul"></i>
                        Summary
                    </h4>
                </div>

                <div v-if="dtd != null && anns.length != 0"
                    class="box-body"
                    style="overflow-y: auto;">

                    <div v-for="stat_item in stat_summary"
                        class="box-body-item d-flex flex-row flex-justify-between">
                        <div>
                            {{ stat_item[0] }}: 
                        </div>
                        <div class="mr-2">
                            {{ stat_item[1] }}
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- /.box -->
        </div>


        <div id="mui_stat_details" class="d-flex ml-2">

            <div class="w-100 d-flex flex-row flex-wrap h-100"
                 style="overflow-y: auto;">
                <div class="box w-100 mb-2">
                    <div class="box-header">
                        <h4>
                            <i class="fas fa-table"></i>
                            Document Summary
                        </h4>
                    </div>
                    <div v-if="dtd != null && anns.length > 0"
                        class="box-body">
                        <table class="doctag-table">
                            <thead>
                                <tr>
                                    <th>File Name</th>
                                    <th>Total</th>
                                    <th v-for="tag_def in dtd.etags"
                                        v-bind:class="'fg-tag-' + tag_def.name">
                                        <span class="rotate-90">
                                            <i class="fa fa-tag"
                                                v-bind:class="'fg-tag-' + tag_def.name">
                                            </i>
                                            {{ tag_def.name }}
                                        </span>
                                    </th>
                                    <th v-for="tag_def in dtd.ltags"
                                        v-bind:class="'fg-tag-' + tag_def.name">
                                        <span class="rotate-90">
                                            <i class="fa fa-link"
                                                v-bind:class="'fg-tag-' + tag_def.name">
                                            </i>
                                            {{ tag_def.name }}
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="stat, stat_idx in stat_docs_by_tags">
                                    <td v-if="stat_idx == 0"
                                        class="td-summary">
                                        {{ stat.file_name }}
                                    </td>
                                    <td v-else
                                        class="td-filename"
                                        title="Check this file in the Annotation tab"
                                        v-on:click="show_ann_file(stat.file_name)">
                                        {{ stat.file_name }}
                                    </td>
                                    <td>
                                        {{ stat._total_tags }}
                                    </td>
                                    <td v-for="tag_def in dtd.etags">
                                        <span v-if="stat_idx == 0"
                                            class="td-count"
                                            v-bind:class="'td-count-' + stat[tag_def.name]">
                                            {{ stat[tag_def.name] }}
                                        </span>
                                        <span v-else
                                            class="td-count"
                                            v-bind:style="'background-color:'+ stat_value2bgcolor(stat[tag_def.name]) + '; color:' + stat_value2ftcolor(stat[tag_def.name]) + ';'"
                                            v-bind:class="'td-count-' + stat[tag_def.name]">
                                            {{ stat[tag_def.name] }}
                                        </span>
                                    </td>
                                    <td v-for="tag_def in dtd.ltags">
                                        <span v-if="stat_idx == 0"
                                            class="td-count"
                                            v-bind:class="'td-count-' + stat[tag_def.name]">
                                            {{ stat[tag_def.name] }}
                                        </span>
                                        <span v-else
                                            class="td-count"
                                            v-bind:style="'background-color:'+ stat_value2bgcolor(stat[tag_def.name]) + '; color:' + stat_value2ftcolor(stat[tag_def.name]) + ';'"
                                            v-bind:class="'td-count-' + stat[tag_def.name]">
                                            {{ stat[tag_def.name] }}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="box w-100">
                    <div class="box-header">
                        <h4>
                            <i class="fa fa-list-ul"></i>
                            Annotated Tags
                        </h4>
                    </div>
                    <div v-if="dtd != null && anns.length > 0"
                        class="box-body" style="overflow-y: auto;">
                        <div class="d-flex flex-column w-100 h-100">
        
                            <div v-for="(tag_def, tag_def_idx) in dtd.etags"
                                class="ruleset-tag-item d-flex flex-row mb-1 pt-1 pb-1">
                                <div class="ruleset-tag-name pl-2 d-flex flex-row flex-justify-between"
                                    v-bind:class="'border-tag-' + tag_def.name">
                                    <div>
                                        <i class="fa fa-tag"
                                            v-bind:class="'fg-tag-' + tag_def.name">
                                        </i>
                                        {{ tag_def.name }}
                                    </div>
                                    <div v-if="hint_dict.hasOwnProperty(tag_def.name)"
                                        class="mr-2">
                                        {{ hint_dict[tag_def.name].texts.length }}
                                    </div>
                                    <div v-else>
                                        -
                                    </div>
                                </div>
        
                                <div v-if="hint_dict.hasOwnProperty(tag_def.name)"
                                    class="ruleset-tag-info d-flex flex-row flex-wrap">

                                    <!-- for the NC etags -->
                                    <div v-if="hint_dict[tag_def.name].nc_dict.count > 0"
                                        class="ruleset-tag-text mr-2 mb-2 d-flex flex-column">
                                        <div v-on:click="hint_dict[tag_def.name].nc_dict._is_shown = !hint_dict[tag_def.name].nc_dict._is_shown">
                                            <span class="ruleset-tag-text-count"
                                                v-bind:title="'Annotated ' + hint_dict[tag_def.name].nc_dict.count + ' times'">
                                                <i v-if="hint_dict[tag_def.name].nc_dict._is_shown"
                                                    class="fa fa-caret-down"></i>
                                                <i v-else
                                                    class="fa fa-caret-right"></i>
                                                {{ hint_dict[tag_def.name].nc_dict.count }}
                                            </span>
                                            <span class="ruleset-tag-text-str">
                                                <i class="far fa-file"></i>
                                                DOC-LEVEL
                                            </span>
                                        </div>
                                        <div v-show="hint_dict[tag_def.name].nc_dict._is_shown"
                                            class="ruleset-tag-text-filelist">
                                            <div v-for="(fn_v, fn) in hint_dict[tag_def.name].nc_dict.ann_fn_dict"
                                                v-on:click="show_ann_file(fn)"
                                                class="ruleset-tag-text-filelist-item">
                                                <span class="ruleset-tag-text-filelist-item-count">
                                                    {{ fn_v }}
                                                </span>
                                                <i class="fa fa-angle-right ml-1 mr-1"></i>
                                                <span>
                                                    {{ fn }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- for general etags -->
                                    <div v-for="(text_info, text) in hint_dict[tag_def.name].text_dict"
                                        class="ruleset-tag-text mr-2 mb-2 d-flex flex-column">
                                        <div v-on:click="hint_dict[tag_def.name].text_dict[text]._is_shown = !hint_dict[tag_def.name].text_dict[text]._is_shown">
                                            <span class="ruleset-tag-text-count"
                                                v-bind:title="'Annotated ' + text_info.count + ' times'">
                                                <i v-if="text_info._is_shown"
                                                    class="fa fa-caret-down"></i>
                                                <i v-else
                                                    class="fa fa-caret-right"></i>
                                                {{ hint_dict[tag_def.name].text_dict[text].count }}
                                            </span>
                                            <span class="ruleset-tag-text-str">
                                                {{ text }}
                                            </span>
                                        </div>
                                        <div v-show="text_info._is_shown"
                                            class="ruleset-tag-text-filelist">
                                            <div v-for="(fn_v, fn) in text_info.ann_fn_dict"
                                                v-on:click="show_ann_file(fn)"
                                                class="ruleset-tag-text-filelist-item">
                                                <span class="ruleset-tag-text-filelist-item-count">
                                                    {{ fn_v }}
                                                </span>
                                                <i class="fa fa-angle-right ml-1 mr-1"></i>
                                                <span>
                                                    {{ fn }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
        
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>