<!-- the section for toolkit -->
<div class="section" id="section-1-7"
v-bind:class="{'active': section=='toolkit'}">

<div class="group">
    <button class="ribbon-button"
        title="Show the visualization tool for MedTagger"
        v-on:click="tk_show_medtaggervis">
        <span class="icon">
            <i class="fas fa-suitcase-rolling"></i>
        </span>
        <span class="caption">
            MedTaggerVis
        </span>
    </button>

    <span class="title">MedTagger</span>
</div>


</div>