<div class="section" id="section-1-3"
v-bind:class="{'active': section=='razer'}">


<div class="group">
    <button class="ribbon-button"
        title="Clear all datasets"
        v-on:click="clear_razer_all()">
        <span class="icon">
            <i class="far fa-times-circle"></i>
        </span>
        <span class="caption">Clear All</span>
    </button>

    <span class="title">&nbsp;</span>
</div>



<div class="group">

    <div id="dropzone_razer_0"
        v-on:dragover="on_dragover_prevent_default"
        v-on:drop="on_drop_dropzone_razer($event, 0)"
        title="The Gold Standard Corpus"
        class="dropzone-menu-box">
        <div v-if="dtd == null" 
            class="zone-text">
            Load DTD file first<br>
            in the Annotation Tab
        </div>
        <div v-else-if="razer_loading_status == 0" 
            class="zone-text">
            <i class="fas fa-spinner fa-spin"></i>
            Reading File ...
        </div>
        <div v-else-if="razer_ann_list[0].anns.length == 0" 
            class="zone-text">
            Drop Corpus <br>
            File(s) / Folder
        </div>
        <div v-else 
            class="zone-text">
            Found <br>
            {{ count_tags_in_anns(razer_ann_list[0].anns) }} Tags <br>
            in {{ razer_ann_list[0].anns.length }} Files
        </div>

    </div>

    <span class="title">
        Gold Standard Corpus
    </span>

</div>


<div class="group">

    <div id="dropzone_razer_1"
        v-on:dragover="on_dragover_prevent_default"
        v-on:drop="on_drop_dropzone_razer($event, 1)"
        title="The dataset for error analysis"
        class="dropzone-menu-box">
        <div v-if="dtd == null" 
            class="zone-text">
            Load DTD file first<br>
            in the Annotation Tab
        </div>
        <div v-else-if="razer_loading_status == 0" 
            class="zone-text">
            <i class="fas fa-spinner fa-spin"></i>
            Reading File ...
        </div>
        <div v-else-if="razer_ann_list[1].anns.length == 0" 
            class="zone-text">
            Drop Corpus <br>
            File(s) / Folder
        </div>
        <div v-else 
            class="zone-text">
            Found <br>
            {{ count_tags_in_anns(razer_ann_list[1].anns) }} Tags <br>
            in {{ razer_ann_list[1].anns.length }} Files
        </div>

    </div>

    <span class="title">
        Dataset
    </span>

</div>


<div class="group">

    <div id="dropzone_razer_err_def"
        v-on:dragover="on_dragover_prevent_default"
        v-on:drop="on_drop_dropzone_razer_err_def($event)"
        title="The error definition for error analysis"
        class="dropzone-menu-box">
        <div v-if="dtd == null" 
            class="zone-text">
            Load DTD file first<br>
            in the Annotation Tab
        </div>
        <div v-else-if="razer_loading_status == 0" 
            class="zone-text">
            <i class="fas fa-spinner fa-spin"></i>
            Reading File ...
        </div>
        <div v-else-if="razer_err_def == null" 
            class="zone-text">
            Drop <b>Error Definition</b> <br>
            .yaml File Here <br>
            (Optional)
        </div>
        <div v-else 
            class="zone-text">
            {{ razer_err_def_info.short_title }} <br>
            <b>{{ razer_err_def_info.n_cates }}</b> categories with <br>
            <b>{{ razer_err_def_info.n_types }}</b> error types
        </div>

    </div>

    <span class="title">
        Error Definition 
        <a href="javascript:void(0);"
            v-on:click="show_help('razer_help_err_def')"
            title="What's 'Error Definition'?"
            class="link-btn">
            <i class="far fa-question-circle"></i>
        </a>
    </span>

</div>

<div class="group">


    <div id="dropzone_razer_err_labels" 
        class="dropzone-menu-box"
        title="Drop an error analysis workspace file (.json)"
        v-on:dragover="on_dragover_prevent_default"
        v-on:click="on_click_razer_load_err_labels"
        v-on:drop="on_drop_dropzone_razer_err_labels">
        <div v-if="razer_dict != null" 
            class="zone-text">
            
            <b>{{ get_razer_rst().err_stat.by_iaa.n_FP }}</b> FP and 
            <b>{{ get_razer_rst().err_stat.by_iaa.n_FN }}</b> FN Tags <br>
            <b>{{ get_razer_rst().err_stat.by_smu.total_err_labels }}</b> Error Labels

        </div>
        <div v-else-if="razer_err_labels_file != null" 
            class="zone-text">
            Loaded Error Labels <br>
            {{ razer_err_labels_file.tags.length }} Tags
        </div>
        <div v-else 
            class="zone-text">
            Drop <b>Error Labels</b> <br>
            .json File Here<br>
            (Optional)
        </div>
    </div>

    <!-- <button class="ribbon-button" 
        title="Save the current error analysis workspace"
        v-on:click="on_click_razer_load_err_labels">
        <span class="icon">
            <i class="far fa-folder-open"></i>
        </span>
        <span class="caption">
            Load 
        </span>
    </button> -->


    <!-- <button class="ribbon-button" 
        :disabled="dtd == null || razer_dict == null"
        title="Save the current error labels"
        v-on:click="download_razer_err_labels">
        <span class="icon">
            <i class="far fa-save"></i>
        </span>
        <span class="caption">
            Save 
        </span>
    </button> -->

    <span class="title">
        Error Labels

        <a href="javascript:void(0);"
            v-on:click="show_help('razer_help_err_labels')"
            title="What's 'Error Labels'?"
            class="link-btn">
            <i class="far fa-question-circle"></i>
        </a>
    </span>

</div>




<div class="group">


    <button class="ribbon-button" 
        :disabled="dtd == null || razer_ann_list[0].anns.length == 0 || razer_ann_list[1].anns.length == 0"
        title="Analyze the given dataset"
        v-on:click="parse_razer_files">
        <span class="icon">
            <i class="fas fa-cash-register"></i>
        </span>
        <span v-if="razer_dict == null"
            class="caption">
            Parse
        </span>
        <span v-else
            class="caption">
            Re-Parse
        </span>
    </button>


    <button class="ribbon-button" 
        :disabled="dtd == null || razer_dict == null"
        title="Identify the error tags automatically"
        v-on:click="show_razer_eaws_panel()">
        <span class="icon">
            <i class="fas fa-robot"></i>
        </span>
        <span class="caption">
            Identify
        </span>
    </button>


    <button class="ribbon-button" 
        :disabled="dtd == null || razer_dict == null"
        title="Identify the error tags automatically"
        v-on:click="show_razer_embedding_panel">
        <span class="icon">
            <i class="fas fa-border-none"></i>
        </span>
        <span class="caption">
            Embedding
        </span>
    </button>


    <span class="title">Error Analysis</span>



</div>


<div class="group">
    <div title="Display the tag context information">
        <input type="checkbox" 
            class="check"
            data-role="switch" 
            data-caption="Show Context"
            title="Show the context information of error tags"
            v-model="razer_flag_show_taglist_context">
        <br>
        
        <input type="checkbox" 
            class="check"
            data-role="switch" 
            data-caption="Show Labels"
            title="Show the error labels of tags"
            v-model="razer_flag_show_taglist_labels">
    </div>

    <span class="title">Tag List</span>
</div>




<div class="group">


    <button class="ribbon-button" 
        :disabled="dtd == null || razer_dict == null"
        title="Save the current error labels"
        v-on:click="download_razer_err_labels">
        <span class="icon">
            <i class="fas fa-file-download"></i>
        </span>
        <span class="caption">
            Error Labels 
        </span>
    </button>


    <button class="ribbon-button" 
        :disabled="dtd == null || razer_dict == null"
        title="Download current analysis result report"
        v-on:click="export_razer_report">
        <span class="icon">
            <i class="fa fa-clipboard-list"></i>
        </span>
        <span class="caption">Report</span>
    </button>


    <span class="title">Export</span>

</div>





</div>