<div v-show="section=='iaa'" id="main_ui" 
    class="main-ui container-fluid">
    <div v-if="iaa_display_measure == 'f1'"
        class="w-100 d-flex flex-row" style="height: calc(100% + 10px);">

        <div id="mui_iaa_summary" class="d-flex h-100 mr-1">
            <div v-if="dtd != null && iaa_dict != null" class="box h-100">
                <div class="box-header">
                    <h4>
                        <i class="fa fa-list-ul"></i>
                        Summary
                    </h4>
                    <div>
                        {% include '_annotator_mui_iaa_select_measure.html' %}
                    </div>
                </div>
                <div class="box-body">

                    <div>
                        <div class="iaa-row iaa-row-header d-flex flex-row">
                            <div class="iaa-bar-name-box d-flex flex-row flex-align-center flex-justify-start mr-1">
                                Tag Name
                            </div>
                            <div class="iaa-bar-box d-flex flex-row flex-align-center flex-justify-start">
                                F1
                            </div>
                        </div>

                        <!-- special for the overall result -->
                        <div class="iaa-row d-flex flex-row"
                            v-bind:class="{'iaa-row-actived': iaa_display_tag_name == '__all__'}"
                            v-on:click="iaa_display_tag_name = '__all__'">
                            <div class="iaa-bar-name-box d-flex flex-row flex-align-center flex-justify-start mr-1">
                                OVERALL
                            </div>
                            <div class="iaa-bar-box d-flex flex-row flex-align-center flex-justify-start">
                                <div v-bind:style="'width:' + to_width(iaa_dict.all.f1) + 'px'"
                                    class="iaa-bar">
                                    &nbsp;
                                </div>
                                <div class="ml-1">
                                    <span style="font-size: 1.2em; font-weight: bold;">
                                        {{ to_fixed(iaa_dict.all.f1) }}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- for each tag -->
                        <div v-for="etag in dtd.etags"
                            class="iaa-row d-flex flex-row"
                            v-bind:class="{'iaa-row-actived': iaa_display_tag_name == etag.name}"
                            v-on:click="iaa_display_tag_name = etag.name">
                            <div v-bind:title="etag.name" 
                                class="iaa-bar-name-box d-flex flex-row flex-align-center flex-justify-start mr-1">
                                <i class="fa fa-tag mr-1"
                                    v-bind:class="'fg-tag-' + etag.name">
                                </i>
                                <span>
                                    {{ etag.name }}
                                </span>
                            </div>
                            <div class="iaa-bar-box d-flex flex-row flex-align-center flex-justify-start mr-1">
                                <div v-bind:style="'width:' + to_width(iaa_dict.tag[etag.name].f1) + 'px'"
                                    class="iaa-bar">
                                    &nbsp;
                                </div>
                                <div class="ml-1">
                                    {{ to_fixed(iaa_dict.tag[etag.name].f1) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3">
                        <p>
                            Text Matched Files: <b>{{ iaa_dict.stat.matched_hashcodes.length }}</b>
                        </p>
                        <p>
                            Duplicated Files: <b>{{ iaa_dict.stat.duplicates.length }}</b>
                        </p>
                        <p>
                            Unmatched Files: <b>{{ iaa_dict.stat.unmatched.length }}</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="mui_iaa_anns" class="d-flex h-100 ml-1 mr-1">
            <div v-if="dtd != null && iaa_dict != null" class="box w-100 h-100">
                <div class="box-header">
                    <h4>
                        <i class="fa fa-list"></i>
                        Annotation Files
                    </h4>
                </div>

                <div class="box-body">

                    <div class="iaa-row iaa-row-header d-flex flex-row">
                        <div class="iaa-bar-filename-box d-flex flex-row flex-align-center flex-justify-start mr-1">
                            File names
                        </div>
                        <div class="iaa-bar-box d-flex flex-row flex-align-center flex-justify-start">
                            <span v-if="iaa_display_tag_name == '__all__'">
                                OVERALL
                            </span>
                            <span v-else>
                                <i class="fa fa-tag mr-1"
                                    v-bind:class="'fg-tag-' + iaa_display_tag_name">
                                </i>
                                <span>
                                    {{ iaa_display_tag_name }}
                                </span>
                            </span>
                            &nbsp;
                            <span>
                                F1
                            </span>
                        </div>
                    </div>

                    <div v-for="ann_rst, ann_hashcode in iaa_dict.ann"
                        class="iaa-row d-flex flex-row"
                        v-bind:class="{'iaa-row-actived': iaa_display_hashcode == ann_hashcode}"
                        v-on:click="iaa_display_hashcode = ann_hashcode">
                        <div class="iaa-bar-filename-box d-flex flex-column flex-align-center flex-justify-start mr-1">
                            <div class="iaa-bar-filename w-100">
                                A: {{ ann_rst.anns[0]._filename }}
                            </div>
                            <div class="iaa-bar-filename w-100">
                                B: {{ ann_rst.anns[1]._filename }}
                            </div>
                            <div class="iaa-bar-filename w-100">
                                <span title="Set check"
                                    v-on:click="iaa_gs_dict[ann_hashcode].ann._has_star = !iaa_gs_dict[ann_hashcode].ann._has_star">
                                    <span v-if="iaa_gs_dict[ann_hashcode].ann._has_star">
                                        <i class="fa fa-check-circle fg-emerald"></i>
                                    </span>
                                    <span v-else>
                                        <i class="far fa-circle"></i>
                                    </span>
                                </span>
                                
                                GS: {{ iaa_gs_dict[ann_hashcode].ann._filename }}
                            </div>
                        </div>

                        <div class="d-flex flex-column">
                            <div class="iaa-bar-box d-flex flex-row flex-align-center flex-justify-start mr-1">
                                <div v-bind:style="'width:' + to_width(get_rst(ann_rst.rst)['f1']) + 'px'"
                                    class="iaa-bar">
                                    &nbsp;
                                </div>
                                <div class="iaa-bar-value ml-1">
                                    {{ to_fixed(get_rst(ann_rst.rst)['f1']) }}
                                </div>
                            </div>
                            <div class="iaa-file-cm-box">
                                <span class="mr-2">
                                    <span class="iaa-op-50">AB: </span>
                                    {{ get_rst(ann_rst.rst).cm.tp }}
                                </span>
                                <span class="mr-2">
                                    <span class="iaa-op-50">A+: </span>
                                    {{ get_rst(ann_rst.rst).cm.fp }}
                                </span>
                                <span class="mr-2">
                                    <span class="iaa-op-50">B+: </span>
                                    {{ get_rst(ann_rst.rst).cm.fn }}
                                </span>
                            </div>
                            <div class="iaa-file-gs-box">
                                <span class="mr-2">
                                    <span class="iaa-op-50">
                                        <span v-if="iaa_display_tag_name == '__all__'">
                                            OVERALL
                                        </span>
                                        <span v-else>
                                            {{ iaa_display_tag_name }}
                                        </span>
                                        in GS:
                                    </span> 
                                    {{ count_gs_tags(ann_hashcode) }}
                                </span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div id="mui_iaa_tags" class="d-flex h-100 ml-1">
            <div v-if="dtd != null && iaa_dict != null && iaa_display_hashcode != null" class="box w-100 h-100">
                <div class="box-header">
                    <h4>
                        <i class="fa fa-tag"></i>
                        Annotated Tags
                    </h4>
                </div>

                <div v-if="iaa_display_hashcode != null"
                    class="box-body d-flex flex-column">
                    <div class="w-100 d-flex flex-row">

                        <div class="iaa-tag-detail-header iaa-tag-detail-a"
                            :class="{'iaa-w-40': iaa_display_adj_panel, 'iaa-w-50': !iaa_display_adj_panel}">
                            <i class="fa fa-user"></i>
                            A 
                            {{ iaa_dict.ann[iaa_display_hashcode].anns[0]._filename }}
                        </div>

                        <div class="iaa-tag-detail-header"
                            :class="{'iaa-w-40': iaa_display_adj_panel, 'iaa-w-50': !iaa_display_adj_panel}">
                            <i class="fa fa-user"></i>
                            B
                            {{ iaa_dict.ann[iaa_display_hashcode].anns[1]._filename }}
                        </div>

                        <div v-if="iaa_display_adj_panel"
                            v-on:click="iaa_gs_dict[iaa_display_hashcode].ann._has_star = !iaa_gs_dict[iaa_display_hashcode].ann._has_star"
                            title="Set check"
                            class="iaa-tag-detail-header iaa-tag-detail-g iaa-tag-detail-g-header iaa-w-20">
                            <span v-if="iaa_gs_dict[iaa_display_hashcode].ann._has_star">
                                <i class="fa fa-check-circle fg-emerald"></i>
                            </span>
                            <span v-else>
                                <i class="far fa-circle"></i>
                            </span>
                            <span>
                                {{ iaa_gs_dict[iaa_display_hashcode].ann._filename }}
                            </span>
                            
                        </div>
                        
                    </div>

                    <div v-for="tag_rst, tag_name in iaa_dict.ann[iaa_display_hashcode].rst.tag"
                        v-if="iaa_display_tag_name == '__all__' || iaa_display_tag_name == tag_name"
                        class="w-100 mb-2">
                            
                        <div class="iaa-tag-name d-flex flex-row">
                            <div class="iaa-tag-name-ab mr-1"
                                :class="{'iaa-w-80': iaa_display_adj_panel, 'iaa-w-100': !iaa_display_adj_panel}">
                                <i class="fa fa-tag mr-1"
                                    v-bind:class="'fg-tag-' + tag_name">
                                </i>
                                <span class="mr-2">
                                    {{ tag_name }}
                                </span>
                                <span class="mr-2">
                                    AB: {{ tag_rst.cm.tp }}
                                </span>
                                <span class="mr-2">
                                    A+: {{ tag_rst.cm.fp }}
                                </span>
                                <span class="mr-2">
                                    B+: {{ tag_rst.cm.fn }}
                                </span>
                            </div>

                            <div v-if="iaa_display_adj_panel"
                                class="iaa-tag-name-g iaa-tag-detail-g iaa-w-20">
                                <i class="fa fa-tag mr-1"
                                    v-bind:class="'fg-tag-' + tag_name">
                                </i>
                                <span class="mr-2">
                                    {{ tag_name }}
                                </span>
                                <span v-if="iaa_gs_dict != null">
                                    Total: {{ count_iaa_gs_tag_notnull(iaa_gs_dict[iaa_display_hashcode].rst[tag_name]) }}
                                </span>
                                <span v-else>
                                    &nbsp;
                                </span>
                            </div>
                        </div>

                        <div v-if="iaa_display_tags_tp"
                            class="iaa-tag-rsts-tp w-100">
                            <!-- last, show the TP group -->
                            <div v-for="tags_tp, tag_idx in tag_rst.cm.tags.tp"
                                class="iaa-tag-detail w-100 d-flex flex-row">
                                <div class="iaa-tag-detail-a"
                                    :class="{'iaa-w-40': iaa_display_adj_panel, 'iaa-w-50': !iaa_display_adj_panel}">
                                    <iaa-tag-info
                                        v-bind:hashcode="iaa_display_hashcode"
                                        v-bind:cm="'tp'"
                                        v-bind:from="'A'"
                                        v-bind:tag="tags_tp[0]"
                                        v-bind:tag_idx="tag_idx"
                                        v-bind:ann="iaa_dict.ann[iaa_display_hashcode].anns[0]"
                                        v-bind:dtd="dtd"
                                        v-bind:iaa_display_tags_context="iaa_display_tags_context"
                                        v-bind:force_update="force_module_update"
                                    ></iaa-tag-info>
                                </div>
                                <div class="iaa-tag-detail-b"
                                    :class="{'iaa-w-40': iaa_display_adj_panel, 'iaa-w-50': !iaa_display_adj_panel}">
                                    <iaa-tag-info
                                        v-bind:hashcode="iaa_display_hashcode"
                                        v-bind:cm="'tp'"
                                        v-bind:from="'B'"
                                        v-bind:tag="tags_tp[1]"
                                        v-bind:tag_idx="tag_idx"
                                        v-bind:ann="iaa_dict.ann[iaa_display_hashcode].anns[1]"
                                        v-bind:dtd="dtd"
                                        v-bind:iaa_display_tags_context="iaa_display_tags_context"
                                        v-bind:force_update="force_module_update"
                                    ></iaa-tag-info>
                                </div>
                                <div v-if="iaa_display_adj_panel && iaa_gs_dict != null"
                                    class="iaa-tag-detail-g iaa-w-20">
                                    
                                    <iaa-tag-info-gs
                                        v-bind:hashcode="iaa_display_hashcode"
                                        v-bind:cm="'tp'"
                                        v-bind:tag_obj="iaa_gs_dict[iaa_display_hashcode].rst[tag_name].tp[tag_idx]"
                                        v-bind:tag_idx="tag_idx"
                                        v-bind:ann="iaa_gs_dict[iaa_display_hashcode].ann"
                                        v-bind:dtd="dtd"
                                        v-bind:force_update="force_module_update"
                                    ></iaa-tag-info-gs>

                                </div>
                            </div>

                        </div>                            

                        <div class="iaa-tag-rsts-fp w-100">
                            <!-- first, show the FP group -->
                            <div v-for="tags_fp, tag_idx in tag_rst.cm.tags.fp"
                                class="iaa-tag-detail w-100 d-flex flex-row">
                                <div class="iaa-tag-detail-a"
                                    :class="{'iaa-w-40': iaa_display_adj_panel, 'iaa-w-50': !iaa_display_adj_panel}">
                                    <iaa-tag-info
                                        v-bind:hashcode="iaa_display_hashcode"
                                        v-bind:cm="'fp'"
                                        v-bind:from="'A'"
                                        v-bind:tag="tags_fp[0]"
                                        v-bind:tag_idx="tag_idx"
                                        v-bind:ann="iaa_dict.ann[iaa_display_hashcode].anns[0]"
                                        v-bind:dtd="dtd"
                                        v-bind:iaa_display_tags_context="iaa_display_tags_context"
                                        v-bind:force_update="force_module_update"
                                    ></iaa-tag-info>
                                </div>

                                <div class="iaa-tag-detail-b"
                                    :class="{'iaa-w-40': iaa_display_adj_panel, 'iaa-w-50': !iaa_display_adj_panel}">
                                    <iaa-tag-info
                                        v-if="tags_fp[1] != null"
                                        v-bind:hashcode="iaa_display_hashcode"
                                        v-bind:cm="'fp'"
                                        v-bind:from="'B'"
                                        v-bind:tag="tags_fp[1]"
                                        v-bind:tag_idx="tag_idx"
                                        v-bind:ann="iaa_dict.ann[iaa_display_hashcode].anns[1]"
                                        v-bind:dtd="dtd"
                                        v-bind:iaa_display_tags_context="iaa_display_tags_context"
                                        v-bind:force_update="force_module_update"
                                    ></iaa-tag-info>
                                </div>

                                <div v-if="iaa_display_adj_panel && iaa_gs_dict != null"
                                    class="iaa-tag-detail-g iaa-w-20">
                                    <iaa-tag-info-gs
                                        v-bind:hashcode="iaa_display_hashcode"
                                        v-bind:cm="'fp'"
                                        v-bind:tag_obj="iaa_gs_dict[iaa_display_hashcode].rst[tag_name].fp[tag_idx]"
                                        v-bind:tag_idx="tag_idx"
                                        v-bind:ann="iaa_gs_dict[iaa_display_hashcode].ann"
                                        v-bind:dtd="dtd"
                                        v-bind:force_update="force_module_update"
                                    ></iaa-tag-info-gs>
                                </div>
                            </div>
                        </div>

                        <div class="iaa-tag-rsts-fn w-100">
                            <!-- second, show the FN group -->
                            <div v-for="tags_fn, tag_idx in tag_rst.cm.tags.fn"
                                class="iaa-tag-detail w-100 d-flex flex-row">
                                <div class="iaa-tag-detail-a"
                                    :class="{'iaa-w-40': iaa_display_adj_panel, 'iaa-w-50': !iaa_display_adj_panel}">
                                    &nbsp;
                                </div>
                                <div class="iaa-tag-detail-b"
                                    :class="{'iaa-w-40': iaa_display_adj_panel, 'iaa-w-50': !iaa_display_adj_panel}">
                                    <iaa-tag-info
                                        v-bind:hashcode="iaa_display_hashcode"
                                        v-bind:cm="'fn'"
                                        v-bind:from="'B'"
                                        v-bind:tag="tags_fn[1]"
                                        v-bind:tag_idx="tag_idx"
                                        v-bind:ann="iaa_dict.ann[iaa_display_hashcode].anns[1]"
                                        v-bind:dtd="dtd"
                                        v-bind:iaa_display_tags_context="iaa_display_tags_context"
                                        v-bind:force_update="force_module_update"
                                    ></iaa-tag-info>
                                </div>

                                <div v-if="iaa_display_adj_panel"
                                    class="iaa-tag-detail-g iaa-w-20">
                                    <iaa-tag-info-gs
                                        v-bind:hashcode="iaa_display_hashcode"
                                        v-bind:cm="'fn'"
                                        v-bind:tag_obj="iaa_gs_dict[iaa_display_hashcode].rst[tag_name].fn[tag_idx]"
                                        v-bind:tag_idx="tag_idx"
                                        v-bind:ann="iaa_gs_dict[iaa_display_hashcode].ann"
                                        v-bind:dtd="dtd"
                                        v-bind:force_update="force_module_update"
                                    ></iaa-tag-info-gs>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div v-else-if="iaa_display_measure == 'cohen_kappa'"
        class="w-100 d-flex flex-row" style="height: calc(100% + 10px);">
        
        <div id="mui_iaa_cohenk_summary"
            class="d-flex h-100 mr-1">
            <div v-if="dtd != null && iaa_dict != null && iaa_dict.all.hasOwnProperty('cohen_kappa')" class="box h-100">
                <div class="box-header">
                    <h4>
                        <i class="fa fa-list-ul"></i>
                        Summary
                    </h4>
                    
                    <div>
                        {% include '_annotator_mui_iaa_select_measure.html' %}
                    </div>
                </div>

                <div class="box-body d-flex flex-column">
                    <div>
                        Overall Cohen's Kappa: 
                        <b>
                            {{ to_fixed(iaa_dict.all.cohen_kappa.kappa) }} 
                        </b>
                        &nbsp;
                        (
                            {{ to_fixed(iaa_dict.all.cohen_kappa.lower) }} , 
                            {{ to_fixed(iaa_dict.all.cohen_kappa.upper) }}
                        )
                        &nbsp;
                        &nbsp;
                        Percentage Agreement: 
                        <b>
                            {{ to_fixed(iaa_dict.all.cohen_kappa.Po) }}
                        </b>

                        <br>
                        
                        <i class="ml-1">TP</i>: <b>{{ iaa_dict.all.cm.tp }}</b>
                        &nbsp;
                        <i class="ml-1">FP</i>: <b>{{ iaa_dict.all.cm.fp }}</b>
                        &nbsp;
                        <i class="ml-1">FN</i>: <b>{{ iaa_dict.all.cm.fn }}</b>
                        &nbsp;
                        <i class="ml-1">N</i>: <b>{{ iaa_dict.all.cohen_kappa.N }}</b>
                        <br>

                        <i class="ml-1">Po</i>: <b>{{ to_fixed(iaa_dict.all.cohen_kappa.Po) }}</b>
                        &nbsp;
                        <i class="ml-1">Pe</i>: <b>{{ to_fixed(iaa_dict.all.cohen_kappa.Pe) }}</b>
                        &nbsp;
                        <i class="ml-1">SE<sub>k</sub></i>: <b>{{ to_fixed(iaa_dict.all.cohen_kappa.SE_k) }}</b>
                        &nbsp;
                        <i class="ml-1">95% CI</i>: 
                        <b>
                            {{ to_fixed(iaa_dict.all.cohen_kappa.lower) }}, 
                            {{ to_fixed(iaa_dict.all.cohen_kappa.upper) }}
                        </b>

                    </div>

                    <!-- 
                    <div class="mr-2">
                        <p>
                            Cohen's Kappa of each document
                        </p>

                        <div v-for="ann_rst, ann_hashcode in iaa_dict.ann"
                            v-bind:class="{'iaa-row-actived': iaa_display_hashcode == ann_hashcode}"
                            class="iaa-row d-flex flex-row">
                            <div class="iaa-bar-name-box d-flex flex-row flex-align-center flex-justify-start mr-1">
                                {{ ann_rst.anns[0]._filename }}
                            </div>
                            <div>
                                <b>
                                    {{ to_fixed(ann_rst.rst.all.cohen_kappa.kappa ) }}
                                </b>&nbsp;
                                (
                                    {{ to_fixed(ann_rst.rst.all.cohen_kappa.lower) }} , 
                                    {{ to_fixed(ann_rst.rst.all.cohen_kappa.upper) }}
                                )
                            </div>
                        </div>


                    </div> 
                    -->

                    <div class="mr-2">
                        <table class="doctag-table">
                            <thead>
                                <tr style="background: white;">
                                    <th style="border: 0;"
                                        colspan="2">
                                        &nbsp;
                                    </th>
                                    <th v-bind:colspan="dtd.etags.length+2">
                                        <b>
                                            Annotator B
                                        </b>
                                    </th>
                                </tr>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Tag</th>
                                    <th v-for="tag_def in dtd.etags"
                                        v-bind:class="'fg-tag-' + tag_def.name">
                                        <span class="rotate-90">
                                            <i class="fa fa-tag"
                                                v-bind:class="'fg-tag-' + tag_def.name">
                                            </i>
                                            {{ tag_def.name }}
                                        </span>
                                    </th>
                                    <!-- 
                                    <th v-for="tag_def in dtd.ltags"
                                        v-bind:class="'fg-tag-' + tag_def.name">
                                        <span class="rotate-90">
                                            <i class="fa fa-link"
                                                v-bind:class="'fg-tag-' + tag_def.name">
                                            </i>
                                            {{ tag_def.name }}
                                        </span>
                                    </th> 
                                    -->

                                    <th>EMPTY</th>
                                    <th>
                                        <i>P<sub>b</sub></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="tag_def_row, row_idx in dtd.etags">
                                    <td v-if="row_idx == 0"
                                        style="vertical-align: middle; padding: 10px;"
                                        v-bind:rowspan="dtd.etags.length+2">
                                        <b>Annotator A</b>
                                    </td>
                                    <td v-bind:class="'fg-tag-' + tag_def_row.name">
                                        <span class="txt-bold">
                                            <i class="fa fa-tag"></i>
                                            {{ tag_def_row.name }}
                                        </span>
                                    </td>
                                    <td v-for="tag_def_col in dtd.etags">
                                        <span v-if="tag_def_col.name == tag_def_row.name">
                                            {{ iaa_dict.tag[tag_def_row.name].cm.tp }}
                                        </span>
                                        <span v-else>
                                            &nbsp;
                                        </span>
                                    </td>
                                    <td class="clr-grey">
                                        {{ iaa_dict.tag[tag_def_row.name].cm.fp }}
                                    </td>
                                    <td class="txt-italic">
                                        <span>
                                            {{ to_fixed(iaa_dict.all.cohen_kappa.Pes.b[tag_def_row.name]) }}
                                        </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="txt-bold">EMPTY</td>
                                    <td v-for="tag_def_col in dtd.etags"
                                        class="clr-grey">
                                        <span>
                                            {{ iaa_dict.tag[tag_def_col.name].cm.fn }}
                                        </span>
                                    </td>
                                    <td class="clr-grey">
                                        0
                                    </td>
                                    <td class="txt-italic">
                                        <span>
                                            {{ to_fixed(iaa_dict.all.cohen_kappa.Pes.b['_EMPTY_']) }}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="txt-bold">
                                        <i>P<sub>a</sub></i>
                                    </td>
                                    <td v-for="tag_def_col in dtd.etags"
                                        class="txt-italic">
                                        <span>
                                            {{ to_fixed(iaa_dict.all.cohen_kappa.Pes.a[tag_def_col.name]) }}
                                        </span>
                                    </td>
                                    <td class="txt-italic">
                                        <span>
                                            {{ to_fixed(iaa_dict.all.cohen_kappa.Pes.a['_EMPTY_']) }}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            
                            
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>