<!-- the section for iaa -->
<div class="section" id="section-1-6"
v-bind:class="{'active': section=='iaa'}">

<div class="group">
    <button class="ribbon-button"
        v-on:click="clear_iaa_all(null)">
        <span class="icon">
            <i class="far fa-times-circle"></i>
        </span>
        <span class="caption">Clear All</span>
    </button>

    <span class="title">&nbsp;</span>
</div> 


<div class="group">

    <div id="dropzone_iaa_0" class="dropzone-iaa"
        iaa_id="0">
        <div v-if="dtd == null" 
            class="zone-text">
            Load DTD file first<br>
            in the Annotation Tab
        </div>
        <div v-else-if="iaa_ann_list[0].anns.length == 0" 
            class="zone-text">
            Drop Annotation <br>
            File(s)
        </div>
        <div v-else 
            class="zone-text">
            Annotated {{ count_tags_in_anns(iaa_ann_list[0].anns) }} Tags
            <br>
            in {{ iaa_ann_list[0].anns.length }} Files
        </div>

        <button class="ribbon-tool-button pos-corner-br"
            title="Clear all annotations from annotator A"
            v-if="iaa_ann_list[0].anns.length != 0"
            v-on:click="clear_iaa_all(0)">
            <span class="icon">
                <i class="far fa-times-circle"></i>
            </span>
        </button>

    </div>

    <span class="title">
        Annotator A
    </span>

</div>

<div class="group">

    <!-- <div class="h-splitter-menu ml-2 mr-2">&nbsp;</div> -->

    <div id="dropzone_iaa_1" class="dropzone-iaa"
        iaa_id="1">
        <div v-if="dtd == null" class="zone-text">
            Load DTD file first<br>
            in the Annotation Tab
        </div>
        <div v-else-if="iaa_ann_list[1].anns.length == 0" 
            class="zone-text">
            Drop Annotation <br>
            File(s)
        </div>
        <div v-else class="zone-text">
            Annotated {{ count_tags_in_anns(iaa_ann_list[1].anns) }} Tags
            <br>
            in {{ iaa_ann_list[1].anns.length }} Files
        </div>

        <button class="ribbon-tool-button pos-corner-br"
            title="Clear all annotations from annotator B"
            v-if="iaa_ann_list[1].anns.length != 0"
            v-on:click="clear_iaa_all(1)">
            <span class="icon">
                <i class="far fa-times-circle"></i>
            </span>
        </button>
    </div>

    <span class="title">
        Annotator B
    </span>
</div>

<div class="group">
    <!-- 
    <div class="mr-1">
        <input type="radio" name="match_mode" 
            value="overlap" 
            data-role="radio" 
            data-caption="<i class='fa fa-align-center'></i> Overlap" checked 
            v-model="iaa_match_mode"
            @change="on_change_iaa_settings">
        <br>
        <input type="radio" name="match_mode" 
            value="exact" 
            data-role="radio" 
            data-caption="<i class='fa fa-align-justify'></i> Exact" 
            v-model="iaa_match_mode"
            @change="on_change_iaa_settings"> 
    </div>
    -->
    
    <div v-if="iaa_match_mode == 'overlap'"
        class="p-1 ml-1 mr-1 border bd-gray border-radius">

        <div class="mt-1 mb-1">
            Overlap
            <i class="fa fa-percentage"></i>
        </div>

        <div>        
            <input id="iaa_form_overlap_ratio" 
                name="iaa_form_overlap_ratio" 
                style="width: 36px"
                type="text" 
                class="ipt-md" 
                v-model.number="iaa_overlap_ratio">
            <span class="mr-1">
                %
            </span>

            <!-- <button title="Reset the overlap ratio"
                v-on:click="iaa_overlap_ratio = iaa_overlap_ratio_default">
                <i class="fa fa-undo"></i>
            </button> -->
        </div>
    </div>

    <div class="mr-1">
        <input type="checkbox" 
            class="check"
            title="Include attributes in IAA calculation?"
            data-role="switch" 
            data-caption="Attribute"
            v-model="iaa_use_attributes"
            v-bind:disabled="dtd == null"
            @change="on_change_iaa_use_attributes">
        <br>
        <button class="ribbon-icon-button dropdown-toggle"
            title="Select the attributes to be included in IAA calculation"
            v-bind:disabled="!iaa_use_attributes">
            <span class="icon">
                <i class="fas fa-tasks"></i>
            </span>
            <span class="caption">
                Select Attributes
            </span>
        </button>
        <ul v-if="dtd != null && iaa_use_attributes"
            class="ribbon-dropdown" 
            data-role="dropdown" 
            data-duration="100">
            <li v-for="tag in dtd.etags">
                <a href="javascript:void(0);" class="dropdown-toggle">
                    {{ tag.name }}:
                    
                    <span v-for="att in tag.attlists"
                        v-show="iaa_use_tag_attrs[tag.name][att.name]"
                        class="mr-1 iaa-tag-attr-name">
                        {{ att.name }}
                    </span>
                </a>
                <ul class="ribbon-dropdown" data-role="dropdown">
                    <li v-for="att in tag.attlists"
                        v-bind:class="{'checked': iaa_use_tag_attrs[tag.name][att.name] }">
                        <a href="javascript:void(0);" 
                            v-on:click="toggle_iaa_tag_attrs(tag.name, att.name)">
                            {{ att.name }}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="divider"></li>
            <li title="Select all attributes for IAA calcuation">
                <a href="javascript:void(0);"
                    v-on:click="set_all_iaa_use_tag_attrs(true)">
                    Select All Attributes
                </a>
            </li>
            <li title="Select none attributes for IAA calcuation">
                <a href="javascript:void(0);"
                    v-on:click="set_all_iaa_use_tag_attrs(false)">
                    Select None Attributes
                </a>
            </li>
        </ul>
    </div>


    <button class="ribbon-button"
        :disabled="dtd == null || iaa_ann_list[0].anns.length == 0 || iaa_ann_list[1].anns.length == 0"
        v-on:click="calc_iaa">
        <span class="icon">
            <i class="fa fa-calculator"></i>
        </span>
        <span class="caption">Calculate</span>
    </button>
<!-- 
    <div class="ribbon-split-button">
        <button class="ribbon-main">
            <span class="icon">
                <span class="mif-cogs"></span>
            </span>
        </button>
        <span class="ribbon-split dropdown-toggle">Measure</span>
        <ul class="ribbon-dropdown" data-role="dropdown" data-duration="100">
            <li v-bind:class="{'checked': iaa_display_measure == 'f1' }">
                <a href="javascript:void(0);"
                    v-on:click="set_iaa_display_measure('f1')">
                    F1 Score
                </a>
            </li>
            <li v-bind:class="{'checked': iaa_display_measure == 'cohen_kappa' }">
                <a href="javascript:void(0);"
                    v-on:click="set_iaa_display_measure('cohen_kappa')">
                    Cohen's Kappa Coefficient
                </a>
            </li>
        </ul>
    </div> 
-->


    <button class="ribbon-button" 
        :disabled="dtd == null || iaa_gs_dict == null"
        title="Download current IAA calculation result report"
        v-on:click="export_iaa_report">
        <span class="icon">
            <i class="fa fa-clipboard-list"></i>
        </span>
        <span class="caption">Report</span>
    </button>

    <span class="title">Inter-Annotator Agreement (IAA)</span>
</div>

<div class="group">
    <div>
        <input type="checkbox" 
            class="check"
            data-role="switch" 
            data-caption="Agreed Tags"
            v-model="iaa_display_tags_tp"
            v-bind:disabled="dtd == null"
            @change="on_change_iaa_settings">
        <br>

        <input type="checkbox" 
            class="check"
            data-role="switch" 
            data-caption="Tag Context"
            v-model="iaa_display_tags_context"
            v-bind:disabled="dtd == null"
            @change="on_change_iaa_settings">

    </div>
    <span class="title">Tag Display</span>
</div>


<div class="group">
    <!-- <div>
        <div>
            <input type="checkbox" 
                class="check"
                data-role="switch" 
                data-caption="Adj. Panel"
                v-model="iaa_display_adj_panel"
                @change="on_change_iaa_settings">
        </div>

        <button class="ribbon-icon-button"
            :disabled="dtd == null || iaa_dict == null"
            title="Reset current adjudication result to default status"
            v-on:click="make_default_adj">
            <span class="icon">
                <i class="far fa-object-group"></i>
            </span>
            <span class="caption">Reset Adjudication</span>
        </button>
    </div>

-->

    <!-- <div>
        <button class="ribbon-button"
            :disabled="dtd == null || iaa_dict == null"
            title="Reset current adjudication result to default status"
            v-on:click="make_default_adj">
            <span class="icon">
                <i class="far fa-object-group"></i>
            </span>
            <span class="caption">Reset</span>
        </button>

        <button class="ribbon-button" 
            :disabled="dtd == null || iaa_gs_dict == null"
            title="Edit adjudication result in annotation tab"
            v-on:click="transfer_to_annotation_tab">
            <span class="icon">
                <i class="far fa-edit"></i>
            </span>
            <span class="caption">Edit</span>
        </button>

    </div> -->

    <!-- <div class="h-splitter-menu ml-2 mr-2">&nbsp;</div>  -->

    <div class="d-flex flex-row">

        <button class="ribbon-button" 
            :disabled="dtd == null || iaa_gs_dict == null"
            title="Download current adjudication result"
            v-on:click="download_all_gs">
            <span class="icon">
                <i class="fa fa-file-download"></i>
            </span>
            <span class="caption">Download</span>
        </button>

    </div>
    
    <span class="title">Adjudication</span>
</div>

</div>