<div id="mui_iaa_summary" class="d-flex h-100 mr-1">
    <div v-if="dtd != null && iaa_dict != null" class="box h-100">
        <!-- <div class="box-header">
            <h4>
                <i class="fa fa-list-ul"></i>
                F1 Score Results
            </h4>
        </div> -->
        <div class="box-body">

            <div>
                <div class="iaa-row iaa-row-header d-flex flex-row">
                    <div class="iaa-bar-name-box d-flex flex-row flex-align-center flex-justify-start mr-1">
                        Tag Name
                    </div>
                    <div class="iaa-bar-box d-flex flex-row flex-align-center flex-justify-start">
                        F1
                    </div>
                </div>

                <!-- special for the overall result -->
                <div class="iaa-row d-flex flex-row"
                    v-bind:class="{'iaa-row-actived': iaa_display_tag_name == '__all__'}"
                    v-on:click="iaa_display_tag_name = '__all__'">
                    <div class="iaa-bar-name-box d-flex flex-row flex-align-center flex-justify-start mr-1">
                        OVERALL
                    </div>
                    <div class="iaa-bar-box d-flex flex-row flex-align-center flex-justify-start">
                        <div v-bind:style="'width:' + per2width(iaa_dict.all.f1) + 'px'"
                            class="iaa-bar">
                            &nbsp;
                        </div>
                        <div class="ml-1">
                            <span style="font-size: 1.2em; font-weight: bold;">
                                {{ to_fixed(iaa_dict.all.f1) }}
                            </span>
                        </div>
                    </div>
                </div>

                <!-- for each tag -->
                <div v-for="etag in dtd.etags"
                    class="iaa-row d-flex flex-row"
                    v-bind:class="{'iaa-row-actived': iaa_display_tag_name == etag.name}"
                    v-on:click="iaa_display_tag_name = etag.name">
                    <div v-bind:title="etag.name" 
                        class="iaa-bar-name-box d-flex flex-row flex-align-center flex-justify-start mr-1">
                        <i class="fa fa-tag mr-1"
                            v-bind:class="'fg-tag-' + etag.name">
                        </i>
                        <span>
                            {{ etag.name }}
                        </span>
                    </div>
                    <div class="iaa-bar-box d-flex flex-row flex-align-center flex-justify-start mr-1">
                        <div v-bind:style="'width:' + per2width(iaa_dict.tag[etag.name].f1) + 'px'"
                            class="iaa-bar">
                            &nbsp;
                        </div>
                        <div class="ml-1">
                            {{ to_fixed(iaa_dict.tag[etag.name].f1) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <p>
                    Text Matched Files: <b>{{ iaa_dict.stat.matched_hashcodes.length }}</b>
                </p>
                <p>
                    Duplicated Files: <b>{{ iaa_dict.stat.duplicates.length }}</b>
                </p>
                <p>
                    Unmatched Files: <b>{{ iaa_dict.stat.unmatched.length }}</b>
                </p>
            </div>
        </div>
    </div>
</div>

<div id="mui_iaa_anns" class="d-flex h-100 ml-1 mr-1">
    <div v-if="dtd != null && iaa_dict != null" class="box w-100 h-100">
        <div class="box-header">

            <div>
                <button class="btn-xs mr-1 dropdown-toggle"
                    style="margin-left: 0;">
                    {{ iaa_get_sort_by_label(iaa_get_sort_by()) }}
                </button>
                <ul class="ribbon-dropdown text-left" 
                    data-role="dropdown" 
                    data-duration="100">
                    <li title="Sort the file list by the A's file name A-Z"
                        v-on:click="iaa_sort_filelist_by('a.alphabet')">
                        <a href="javascript:void(0);">By A's file name (A->Z)</a>
                    </li>
                    <li title="Sort the file list by the A's file name Z-A"
                        v-on:click="iaa_sort_filelist_by('a.alphabet_r')">
                        <a href="javascript:void(0);">By A's file name (Z->A)</a>
                    </li>

                    <li title="Sort the file list by the B's file name A-Z"
                        v-on:click="iaa_sort_filelist_by('b.alphabet')">
                        <a href="javascript:void(0);">By B's file name (A->Z)</a>
                    </li>
                    <li title="Sort the file list by the B's file name Z-A"
                        v-on:click="iaa_sort_filelist_by('b.alphabet_r')">
                        <a href="javascript:void(0);">By B's file name (Z->A)</a>
                    </li>

                    <li title="Sort the file list by F1 Score 0-1"
                        v-on:click="iaa_sort_filelist_by('f1_asc')">
                        <a href="javascript:void(0);">By F1 Score (0->1)</a>
                    </li>
                    <li title="Sort the file list by F1 Score 1-0"
                        v-on:click="iaa_sort_filelist_by('f1_desc')">
                        <a href="javascript:void(0);">By F1 Score (1->0)</a>
                    </li>

                    <li class="divider"></li>

                    <li title="Sort the file list by the number of annotated tags"
                        v-on:click="iaa_sort_filelist_by('default')">
                        <a href="javascript:void(0);">By default import sequence</a>
                    </li>
                </ul>
            </div>
            <h4>
                <i class="fa fa-list"></i>
                Annotation Files
            </h4>
        </div>

        <div class="box-body">

            <div class="iaa-row iaa-row-header d-flex flex-row">
                <div class="iaa-bar-filename-box d-flex flex-row flex-align-center flex-justify-start mr-1">
                    File names
                </div>
                <div class="iaa-bar-box d-flex flex-row flex-align-center flex-justify-start">
                    <span v-if="iaa_display_tag_name == '__all__'">
                        OVERALL
                    </span>
                    <span v-else>
                        <i class="fa fa-tag mr-1"
                            v-bind:class="'fg-tag-' + iaa_display_tag_name">
                        </i>
                        <span>
                            {{ iaa_display_tag_name }}
                        </span>
                    </span>
                    &nbsp;
                    <span>
                        F1
                    </span>
                </div>
            </div>

            <div v-for="v_ann in iaa_sort_v_anns(iaa_dict)"
                class="iaa-row d-flex flex-row"
                v-bind:class="{'iaa-row-actived': iaa_display_hashcode == v_ann.ann_hashcode}"
                v-on:click="iaa_display_hashcode = v_ann.ann_hashcode">
                <div class="iaa-bar-filename-box d-flex flex-column flex-align-center flex-justify-start mr-1">
                    <div class="iaa-bar-filename w-100">
                        A: {{ iaa_dict.ann[v_ann.ann_hashcode].anns[0]._filename }}
                    </div>
                    <div class="iaa-bar-filename w-100">
                        B: {{ iaa_dict.ann[v_ann.ann_hashcode].anns[1]._filename }}
                    </div>
                    <div class="iaa-bar-filename w-100">
                        <!-- <span title="Set check"
                            v-on:click="iaa_gs_dict[v_ann.ann_hashcode].ann._has_star = !iaa_gs_dict[v_ann.ann_hashcode].ann._has_star">
                            <span v-if="iaa_gs_dict[v_ann.ann_hashcode].ann._has_star">
                                <i class="fa fa-check-circle fg-emerald"></i>
                            </span>
                            <span v-else>
                                <i class="far fa-circle"></i>
                            </span>
                        </span> -->
                        <a href="javascript:void(0);"
                            v-on:click="download_gs_file(v_ann.ann_hashcode)"
                            v-bind:title="'Download adjudicated file ' + iaa_gs_dict[v_ann.ann_hashcode].ann._filename"
                            class="btn btn-xs btn-dense btn-black">
                            <i class="far fa-arrow-alt-circle-down"></i>
                        </a>
                        
                        GS: {{ iaa_gs_dict[v_ann.ann_hashcode].ann._filename }}
                    </div>
                </div>

                <div class="d-flex flex-column">
                    <div class="iaa-bar-box d-flex flex-row flex-align-center flex-justify-start mr-1">
                        <div v-bind:style="'width:' + per2width(get_rst(iaa_dict.ann[v_ann.ann_hashcode].rst)['f1']) + 'px'"
                            class="iaa-bar">
                            &nbsp;
                        </div>
                        <div class="iaa-bar-value ml-1">
                            {{ to_fixed(get_rst(iaa_dict.ann[v_ann.ann_hashcode].rst)['f1']) }}
                        </div>
                    </div>
                    <div class="iaa-file-cm-box">
                        <span class="mr-2">
                            <span class="iaa-op-50">AB: </span>
                            {{ get_rst(iaa_dict.ann[v_ann.ann_hashcode].rst).cm.tp }}
                        </span>
                        <span class="mr-2">
                            <span class="iaa-op-50">A+: </span>
                            {{ get_rst(iaa_dict.ann[v_ann.ann_hashcode].rst).cm.fp }}
                        </span>
                        <span class="mr-2">
                            <span class="iaa-op-50">B+: </span>
                            {{ get_rst(iaa_dict.ann[v_ann.ann_hashcode].rst).cm.fn }}
                        </span>
                    </div>
                    <div class="iaa-file-gs-box">
                        <span class="mr-2">
                            <span class="iaa-op-50">
                                <span v-if="iaa_display_tag_name == '__all__'">
                                    OVERALL
                                </span>
                                <span v-else>
                                    {{ iaa_display_tag_name }}
                                </span>
                                in GS:
                            </span> 
                            {{ count_gs_tags(v_ann.ann_hashcode) }}
                        </span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div id="mui_iaa_tags" class="d-flex h-100 ml-1">
    <div v-if="dtd != null && iaa_dict != null && iaa_display_hashcode != null" class="box w-100 h-100">
        <div class="box-header">
            <h4>
                <i class="fa fa-tag"></i>
                Annotated Tags
            </h4>
        </div>

        <div v-if="iaa_display_hashcode != null"
            class="box-body d-flex flex-column">
            <div class="w-100 d-flex flex-row">

                <div class="iaa-tag-detail-header iaa-tag-detail-a"
                    :class="{'iaa-w-40': iaa_display_adj_panel, 'iaa-w-50': !iaa_display_adj_panel}">
                    <i class="fa fa-user"></i>
                    A 
                    {{ iaa_dict.ann[iaa_display_hashcode].anns[0]._filename }}
                </div>

                <div class="iaa-tag-detail-header"
                    :class="{'iaa-w-40': iaa_display_adj_panel, 'iaa-w-50': !iaa_display_adj_panel}">
                    <i class="fa fa-user"></i>
                    B
                    {{ iaa_dict.ann[iaa_display_hashcode].anns[1]._filename }}
                </div>

                <div v-if="iaa_display_adj_panel"
                    v-on:click="iaa_gs_dict[iaa_display_hashcode].ann._has_star = !iaa_gs_dict[iaa_display_hashcode].ann._has_star"
                    title="Set check"
                    class="iaa-tag-detail-header iaa-tag-detail-g iaa-tag-detail-g-header iaa-w-20">
                    <span v-if="iaa_gs_dict[iaa_display_hashcode].ann._has_star">
                        <i class="fa fa-check-circle fg-emerald"></i>
                    </span>
                    <span v-else>
                        <i class="far fa-circle"></i>
                    </span>
                    <span>
                        {{ iaa_gs_dict[iaa_display_hashcode].ann._filename }}
                    </span>
                    
                </div>
                
            </div>

            <div v-for="tag_rst, tag_name in iaa_dict.ann[iaa_display_hashcode].rst.tag"
                v-if="iaa_display_tag_name == '__all__' || iaa_display_tag_name == tag_name"
                class="w-100 mb-2">
                    
                <div class="iaa-tag-name d-flex flex-row">
                    <div class="iaa-tag-name-ab mr-1"
                        :class="{'iaa-w-80': iaa_display_adj_panel, 'iaa-w-100': !iaa_display_adj_panel}">
                        <i class="fa fa-tag mr-1"
                            v-bind:class="'fg-tag-' + tag_name">
                        </i>
                        <span class="mr-2">
                            {{ tag_name }}
                        </span>
                        <span class="mr-2">
                            AB: {{ tag_rst.cm.tp }}
                        </span>
                        <span class="mr-2">
                            A+: {{ tag_rst.cm.fp }}
                        </span>
                        <span class="mr-2">
                            B+: {{ tag_rst.cm.fn }}
                        </span>
                    </div>

                    <div v-if="iaa_display_adj_panel"
                        class="iaa-tag-name-g iaa-tag-detail-g iaa-w-20">
                        <i class="fa fa-tag mr-1"
                            v-bind:class="'fg-tag-' + tag_name">
                        </i>
                        <span class="mr-2">
                            {{ tag_name }}
                        </span>
                        <span v-if="iaa_gs_dict != null">
                            Total: {{ count_iaa_gs_tag_notnull(iaa_gs_dict[iaa_display_hashcode].rst[tag_name]) }}
                        </span>
                        <span v-else>
                            &nbsp;
                        </span>
                    </div>
                </div>

                <div v-if="iaa_display_tags_tp"
                    class="iaa-tag-rsts-tp w-100">
                    <!-- last, show the TP group -->
                    <div v-for="tags_tp, tag_idx in tag_rst.cm.tags.tp"
                        class="iaa-tag-detail w-100 d-flex flex-row">
                        <div class="iaa-tag-detail-a"
                            :class="{'iaa-w-40': iaa_display_adj_panel, 'iaa-w-50': !iaa_display_adj_panel}">
                            <iaa-tag-info
                                v-bind:hashcode="iaa_display_hashcode"
                                v-bind:cm="'tp'"
                                v-bind:from="'A'"
                                v-bind:tag="tags_tp[0]"
                                v-bind:tag_idx="tag_idx"
                                v-bind:ann="iaa_dict.ann[iaa_display_hashcode].anns[0]"
                                v-bind:dtd="dtd"
                                v-bind:iaa_display_tags_context="iaa_display_tags_context"
                                v-bind:force_update="force_module_update"
                            ></iaa-tag-info>
                        </div>
                        <div class="iaa-tag-detail-b"
                            :class="{'iaa-w-40': iaa_display_adj_panel, 'iaa-w-50': !iaa_display_adj_panel}">
                            <iaa-tag-info
                                v-bind:hashcode="iaa_display_hashcode"
                                v-bind:cm="'tp'"
                                v-bind:from="'B'"
                                v-bind:tag="tags_tp[1]"
                                v-bind:tag_idx="tag_idx"
                                v-bind:ann="iaa_dict.ann[iaa_display_hashcode].anns[1]"
                                v-bind:dtd="dtd"
                                v-bind:iaa_display_tags_context="iaa_display_tags_context"
                                v-bind:force_update="force_module_update"
                            ></iaa-tag-info>
                        </div>
                        <div v-if="iaa_display_adj_panel && iaa_gs_dict != null"
                            class="iaa-tag-detail-g iaa-w-20">
                            
                            <iaa-tag-info-gs
                                v-bind:hashcode="iaa_display_hashcode"
                                v-bind:cm="'tp'"
                                v-bind:tag_obj="iaa_gs_dict[iaa_display_hashcode].rst[tag_name].tp[tag_idx]"
                                v-bind:tag_idx="tag_idx"
                                v-bind:ann="iaa_gs_dict[iaa_display_hashcode].ann"
                                v-bind:dtd="dtd"
                                v-bind:force_update="force_module_update"
                            ></iaa-tag-info-gs>

                        </div>
                    </div>

                </div>                            

                <div class="iaa-tag-rsts-fp w-100">
                    <!-- first, show the FP group -->
                    <div v-for="tags_fp, tag_idx in tag_rst.cm.tags.fp"
                        class="iaa-tag-detail w-100 d-flex flex-row">
                        <div class="iaa-tag-detail-a"
                            :class="{'iaa-w-40': iaa_display_adj_panel, 'iaa-w-50': !iaa_display_adj_panel}">
                            <iaa-tag-info
                                v-bind:hashcode="iaa_display_hashcode"
                                v-bind:cm="'fp'"
                                v-bind:from="'A'"
                                v-bind:tag="tags_fp[0]"
                                v-bind:tag_idx="tag_idx"
                                v-bind:ann="iaa_dict.ann[iaa_display_hashcode].anns[0]"
                                v-bind:dtd="dtd"
                                v-bind:iaa_display_tags_context="iaa_display_tags_context"
                                v-bind:force_update="force_module_update"
                            ></iaa-tag-info>
                        </div>

                        <div class="iaa-tag-detail-b"
                            :class="{'iaa-w-40': iaa_display_adj_panel, 'iaa-w-50': !iaa_display_adj_panel}">
                            <iaa-tag-info
                                v-if="tags_fp[1] != null"
                                v-bind:hashcode="iaa_display_hashcode"
                                v-bind:cm="'fp'"
                                v-bind:from="'B'"
                                v-bind:tag="tags_fp[1]"
                                v-bind:tag_idx="tag_idx"
                                v-bind:ann="iaa_dict.ann[iaa_display_hashcode].anns[1]"
                                v-bind:dtd="dtd"
                                v-bind:iaa_display_tags_context="iaa_display_tags_context"
                                v-bind:force_update="force_module_update"
                            ></iaa-tag-info>
                        </div>

                        <div v-if="iaa_display_adj_panel && iaa_gs_dict != null"
                            class="iaa-tag-detail-g iaa-w-20">
                            <iaa-tag-info-gs
                                v-bind:hashcode="iaa_display_hashcode"
                                v-bind:cm="'fp'"
                                v-bind:tag_obj="iaa_gs_dict[iaa_display_hashcode].rst[tag_name].fp[tag_idx]"
                                v-bind:tag_idx="tag_idx"
                                v-bind:ann="iaa_gs_dict[iaa_display_hashcode].ann"
                                v-bind:dtd="dtd"
                                v-bind:force_update="force_module_update"
                            ></iaa-tag-info-gs>
                        </div>
                    </div>
                </div>

                <div class="iaa-tag-rsts-fn w-100">
                    <!-- second, show the FN group -->
                    <div v-for="tags_fn, tag_idx in tag_rst.cm.tags.fn"
                        class="iaa-tag-detail w-100 d-flex flex-row">
                        <div class="iaa-tag-detail-a"
                            :class="{'iaa-w-40': iaa_display_adj_panel, 'iaa-w-50': !iaa_display_adj_panel}">
                            &nbsp;
                        </div>
                        <div class="iaa-tag-detail-b"
                            :class="{'iaa-w-40': iaa_display_adj_panel, 'iaa-w-50': !iaa_display_adj_panel}">
                            <iaa-tag-info
                                v-bind:hashcode="iaa_display_hashcode"
                                v-bind:cm="'fn'"
                                v-bind:from="'B'"
                                v-bind:tag="tags_fn[1]"
                                v-bind:tag_idx="tag_idx"
                                v-bind:ann="iaa_dict.ann[iaa_display_hashcode].anns[1]"
                                v-bind:dtd="dtd"
                                v-bind:iaa_display_tags_context="iaa_display_tags_context"
                                v-bind:force_update="force_module_update"
                            ></iaa-tag-info>
                        </div>

                        <div v-if="iaa_display_adj_panel"
                            class="iaa-tag-detail-g iaa-w-20">
                            <iaa-tag-info-gs
                                v-bind:hashcode="iaa_display_hashcode"
                                v-bind:cm="'fn'"
                                v-bind:tag_obj="iaa_gs_dict[iaa_display_hashcode].rst[tag_name].fn[tag_idx]"
                                v-bind:tag_idx="tag_idx"
                                v-bind:ann="iaa_gs_dict[iaa_display_hashcode].ann"
                                v-bind:dtd="dtd"
                                v-bind:force_update="force_module_update"
                            ></iaa-tag-info-gs>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>