<div id="app_settings"
    v-show="cfg.enable_show_settings"
    class="box">
    <div class="box-header d-flex flex-justify-between">
        <h4>
            <i class="fa fa-cog"></i>
            MedTator Settings
        </h4>
        <div class="d-flex flex-row">
            <div style="line-height: 2em;">
                MEM: {{ get_metator_mem() }} MB
            </div>
            <button v-on:click="cfg.enable_show_settings = false">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>

    <div class="box-body">
        <div class="d-flex flex-row">

            <div class="px-2 setting-tab"
                v-bind:class="{'active-setting-tab':cfg.active_setting_tab=='gui'}"
                v-on:click="switch_setting_tab('gui')">
                <i class="fa fa-table"></i>
                GUI
            </div>

            <div class="px-2 setting-tab"
                v-bind:class="{'active-setting-tab':cfg.active_setting_tab=='system'}"
                v-on:click="switch_setting_tab('system')">
                <i class="fas fa-sliders-h"></i>
                System
            </div>

            <div class="px-2 setting-tab"
                v-bind:class="{'active-setting-tab':cfg.active_setting_tab=='other'}"
                v-on:click="switch_setting_tab('other')">
                <i class="far fa-file"></i>
                Other
            </div>
        </div>

        <!-- other setting tab -->
        <div v-if="cfg.active_setting_tab == 'other'">
            <div class="box-body-item">
                <p>
                    Sentence Splitting Algorithm
                    <a href="javascript:void(0);"
                        v-on:click="show_help('sentence_splitting_algorithm')">
                        <i class="far fa-question-circle"></i>
                    </a>:
                </p>
                <ul class="box">
                    <li>
                        <input type="radio" id="cfg_ssa_v1" 
                            value="simpledot" 
                            v-on:change="on_change_setting('sentence_splitting_algorithm')"
                            v-model="cfg.sentence_splitting_algorithm">
                        <label for="cfg_ssa_v1">Simple Method (Default)</label>
                    </li>
                    <!-- <li>
                        <input type="radio" id="cfg_ssa_v2" 
                            value="compromise" 
                            v-model="cfg.sentence_splitting_algorithm">
                        <label for="cfg_ssa_v2">Compromise NLP</label>
                    </li> -->
                    <li>
                        <input type="radio" id="cfg_ssa_v3" 
                            value="wink_nlp" 
                            v-on:change="on_change_setting('sentence_splitting_algorithm')"
                            v-model="cfg.sentence_splitting_algorithm">
                        <label for="cfg_ssa_v3">Wink NLP Sentence Tokenization</label>
                    </li>
                </ul>
            </div>

            <div class="box-body-item">
                <p>
                    Save workspace in JSON file
                    <a href="javascript:void(0);"
                        v-on:click="show_help('save_workspace_as_json')">
                        <i class="far fa-question-circle"></i>
                    </a>
                </p>
                <div>
                    <button v-on:click="on_click_save_workspace_as_json()">
                        <i class="fas fa-sd-card"></i>
                        Save Workspace
                    </button>
                </div>
            </div>

            <div class="box-body-item">
                <p>
                    Reset to Default Settings
                    <a href="javascript:void(0);"
                        v-on:click="show_help('reset_to_default_settings')">
                        <i class="far fa-question-circle"></i>
                    </a>
                </p>
                <div>
                    <button v-on:click="on_click_reset_to_default_settings()">
                        <i class="fas fa-redo"></i>
                        Reset Settings
                    </button>
                </div>
            </div>
        </div>

        <!-- system setting tab -->
        <div v-if="cfg.active_setting_tab == 'system'">
            <div class="box-body-item">
                <p>
                    Auto-save annotation (Experimental)
                    <a href="javascript:void(0);"
                        v-on:click="show_help('auto_save_current_ann')">
                        <i class="far fa-question-circle"></i>
                    </a>:
                </p>
                <ul class="box">
                    <li>
                        <input type="radio" id="cfg_ui_autosave_disable" 
                            value="disable" 
                            v-on:change="on_change_setting('auto_save_current_ann')"
                            v-model="cfg.auto_save_current_ann">
                        <label for="cfg_ui_autosave_disable">Disable (Default)</label>
                    </li>
                    <li>
                        <input type="radio" id="cfg_ui_autosave_enable" 
                            value="enable" 
                            v-on:change="on_change_setting('auto_save_current_ann')"
                            v-model="cfg.auto_save_current_ann">
                        <label for="cfg_ui_autosave_enable">Enable</label>
                    </li>
                </ul>
                
            </div>


            <div class="box-body-item">
                <p>
                    Auto save/load configuration locally (Experimental)
                    <a href="javascript:void(0);"
                        v-on:click="show_help('auto_sl_current_cfg')">
                        <i class="far fa-question-circle"></i>
                    </a>:
                </p>
                <ul class="box">
                    <li>
                        <input type="radio" id="cfg_ui_autosave_cfg_disable" 
                            value="disable" 
                            v-on:change="on_change_setting('auto_sl_current_cfg')"
                            v-model="cfg.auto_sl_current_cfg">
                        <label for="cfg_ui_autosave_cfg_disable">Disable (Default)</label>
                    </li>
                    <li>
                        <input type="radio" id="cfg_ui_autosave_cfg_enable" 
                            value="enable" 
                            v-on:change="on_change_setting('auto_sl_current_cfg')"
                            v-model="cfg.auto_sl_current_cfg">
                        <label for="cfg_ui_autosave_cfg_enable">Enable</label>
                    </li>
                </ul>
                
            </div>


        </div>

        <!-- GUI setting tab -->
        <div v-else-if="cfg.active_setting_tab == 'gui'">

            <div class="box-body-item">
                <p>
                    New UI for Toolkit (Experimental)
                    <a href="javascript:void(0);"
                        v-on:click="show_help('new_ui_for_tk')">
                        <i class="far fa-question-circle"></i>
                    </a>:
                </p>
                <ul class="box">
                    <li>
                        <input type="radio" id="cfg_uitk_v1" 
                            value="disable" 
                            v-on:change="on_change_setting('new_ui_for_tk')"
                            v-model="cfg.new_ui_for_tk">
                        <label for="cfg_uitk_v1">Disable (Default)</label>
                    </li>
                    <li>
                        <input type="radio" id="cfg_uitk_v2" 
                            value="enable" 
                            v-on:change="on_change_setting('new_ui_for_tk')"
                            v-model="cfg.new_ui_for_tk">
                        <label for="cfg_uitk_v2">Enable</label>
                    </li>
                </ul>
                
            </div>


            <div class="box-body-item">
                <p>
                    New UI for Error Analysis (Development)
                    <a href="javascript:void(0);"
                        v-on:click="show_help('new_ui_for_ea')">
                        <i class="far fa-question-circle"></i>
                    </a>:
                </p>
                <ul class="box">
                    <li>
                        <input type="radio" id="cfg_uiea_v1" 
                            value="disable" 
                            v-on:change="on_change_setting('new_ui_for_ea')"
                            v-model="cfg.new_ui_for_ea">
                        <label for="cfg_uiea_v1">Disable (Default)</label>
                    </li>
                    <li>
                        <input type="radio" id="cfg_uiea_v2" 
                            value="enable" 
                            v-on:change="on_change_setting('new_ui_for_ea')"
                            v-model="cfg.new_ui_for_ea">
                        <label for="cfg_uiea_v2">Enable</label>
                    </li>
                </ul>
                
            </div>

            <div class="box-body-item">
                <p>
                    Cohen's Kappa (Experimental)
                    <a href="javascript:void(0);"
                        v-on:click="show_help('new_ui_for_ck')">
                        <i class="far fa-question-circle"></i>
                    </a>:
                </p>
                <ul class="box">
                    <li>
                        <input type="radio" id="cfg_uick_v1" 
                            value="disable" 
                            v-on:change="on_change_setting('new_ui_for_ck')"
                            v-model="cfg.new_ui_for_ck">
                        <label for="cfg_uick_v1">Disable (Default)</label>
                    </li>
                    <li>
                        <input type="radio" id="cfg_uick_v2" 
                            value="enable" 
                            v-on:change="on_change_setting('new_ui_for_ck')"
                            v-model="cfg.new_ui_for_ck">
                        <label for="cfg_uick_v2">Enable</label>
                    </li>
                </ul>
                
            </div>


            <div class="box-body-item">
                <p>
                    Linking marks selection between editor and concept list 
                    <a href="javascript:void(0);"
                        v-on:click="show_help('linking_marks_selection')">
                        <i class="far fa-question-circle"></i>
                    </a>:
                </p>
                <ul class="box">
                    <li>
                        <input type="radio" id="cfg_lms_v1" 
                            value="all_concepts" 
                            v-on:change="on_change_setting('linking_marks_selection')"
                            v-model="cfg.linking_marks_selection">
                        <label for="cfg_lms_v1">Render all marks (Default)</label>
                    </li>
                    <li>
                        <input type="radio" id="cfg_lms_v2" 
                            value="selected_concepts" 
                            v-on:change="on_change_setting('linking_marks_selection')"
                            v-model="cfg.linking_marks_selection">
                        <label for="cfg_lms_v2">Render marks of selected concept</label>
                    </li>
                </ul>
                
            </div>
        </div>

        <div v-else>
            &nbsp;
        </div>

    </div>
</div>